[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/path/to/gearplug
ExecStart=/home/user/path/to/environment/bin/gunicorn --access-logfile /home/user/tmp/app.log --workers 3 --bind unix:/home/user/path/to/gearplug/gearplug.sock --log-level=debug apiconnector.wsgi:application
EnvironmentFile=/home/user/path/to/environment

[Install]
WantedBy=multi-user.target
