[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/web/gearplug
ExecStart=/home/ubuntu/environment/gearplug/bin/gunicorn --access-logfile /var/log/gunicorn/access.log --workers 6 --log-level=debug --bind unix:/home/ubuntu/web/gearplug/gearplug.sock apiconnector.wsgi:application

[Install]
WantedBy=multi-user.target
