{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/login.css' %}">
{% endblock %}

{% block body_base %}
    <div class="content">
        <div class="login-wrapper">
            <div class="logo">
                <img src="{% static 'img/console/logo1.png' %}" width="35%">
            </div>
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        {{ error|escape }}
                    {% endfor %}
                    {{ form.login }}
                    {{ form.password }}
                    <div class="rail-checkbox btn-group" data-toggle="buttons">
                        <label class="btn btn-success active">
                            {{ form.remember }}
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                    <label for="{{ form.remember.auto_id }}" class="account-link">{{ form.remember.label }}</label>
                    <button type="submit">{% trans 'Iniciar Sesión' %}</button>
                </form>
                <div class="account-link">
                    <a href="{% url 'account_reset_password' %}" class="forgot-password">
                        {% trans '¿Olvidaste la contraseña?' %}
                    </a>
                </div>
                <div class="account-link">
                    {% trans '¿Aún no registrado?' %}
                    <a href="{% url 'account_signup' %}" class="create-account" style="font-family: 'Sansation Bold'">{% trans 'Crea una cuenta' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
