{% extends "commons/anonymous_base.html" %}
{% load static %}
{% load account_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body %}
    <div class="login-home">
        <div class="loginpage">
            <div class="login-page">
                <div class="form col-md-4 col-sm-8 col-xs-12">
                    <form class="login-form form-horizontal" action="{% url 'account_login' %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="logo">
                            <img src="{% static 'img/Logo_blanco.png' %}" class="img-responsive">
                        </div>
                        <p>Enter your e-mail acount and your password to sign in</p>
                        {{ form|as_bootstrap_inline }}
                        <!--{% render_field form.email class+="form-control input-md validate[required,custom[email]]" placeholder="Email" %}-->
                        <!--{% render_field form.password class+="form-control input-md" placeholder="Password" %}-->
                        <button id="singlebutton" name="singlebutton">Login</button>
                        {% if form.error %}
                            <div class="error">{{ form.error }}</div>
                        {% endif %}
                        <p class="message">Not registered? <a href="{% url 'account_signup' %}">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/validationEngine.jquery.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.validationEngine.js' %}"></script>
    <script src="{% static 'js/jquery.validationEngine-es.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validationEngine();
        });
    </script>
{% endblock %}