{% extends 'layouts/base.html' %}
{% load static %}

{% block body_base %}
    <div class="col-md-12">
        <div class="col-md-4"> &nbsp;</div>
        <div class="col-md-4 card card-container">
            <img id="profile-img" class="profile-img-card" src={% static 'img/gp_logo.png' %}/>
            <p id="profile-name" class="profile-name-card"></p>
            {{ form.error }}
            <form class="form-signin" method="post" action="">
                {% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                {{ form.login }}
                {{ form.password }}
                {{ form.remember }} <label for="{{ form.remember.auto_id }}">{{ form.remember.label }} </label>
                {% if form.error %}
                    <div class="error">{{ form.error }}</div>
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
            <br /><br />
            <p class="message"> Not registered?
                <a href="{% url 'account_signup' %}" class="create-account">Create an account</a>
            </p>
        </div>
        <div class="col-md-4"> &nbsp;</div>
    </div>
{% endblock %}