{% extends 'layouts/base.html' %}
{% load static i18n account %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/login.css' %}">
{% endblock %}

{% block body_base %}
    <div class="content">
        <div class="login-wrapper">
            <div class="logo">
                <img src="{% static 'img/console/logo1.png' %}" width="35%">
            </div>
            <div class="form">
                <h2 style="text-align: center">{% trans "Change Password" %}</h2>
                <p>{% trans 'Your password is now changed.' %}</p>
                <a href="{% url 'account_login' %}">
                    <button type="submit">{% trans 'Sign in' %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}