{% extends 'layouts/base.html' %}
{% load static i18n account %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/login.css' %}">
{% endblock %}

{% block body_base %}
    <div class="content">
        <div class="login-wrapper">
            <div class="logo">
                <img src="{% static 'img/console/logo1.png' %}" width="35%">
            </div>

            <div class="form">
                <form method="POST">

                    <h2 style="text-align: center">{% trans "Forgot your password?" %}</h2>
                    <p>
                        {% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                    </p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.email }}
                        <button type="submit">{% trans 'Reset My Password' %}</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
