{% extends "commons/site_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Account" %}{% endblock %}
{% block body %}
<div class="box-tool">
   <div class="box-title">
      <h2>{% trans "Account" %}</h2>
   </div>
   <div class="panel">
      <div class="container">
         <form method="POST" action="{% url "account_settings" %}" class="form-horizontal">
         {% csrf_token %}
         {{ form|as_bootstrap }} 
         <div class="clearfix">
         <a href="{% url 'account_delete' %}" class="delete-acconut"><i class="fa fa-trash" aria-hidden="true"></i> Delete account</a>
         <button  type="submit">{% trans "Save" %}</button>                  
         </div>
         </form>         
      </div>
   </div>
</div>
{% endblock %}