{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/login.css' %}">
{% endblock %}

{% block body_base %}
    <div class="content">
        <div class="login-wrapper">
            <div class="logo">
                <img src="{% static 'img/console/logo1.png' %}" width="35%">
            </div>
            <div class="form">
                {% with signup_form=form %}
                    {% include 'landing/snippets/signup_form.html' %}
                {% endwith %}
                <div class="account-link">
                    {% trans '¿Ya tienes una cuenta?' %}
                    <a href="{% url 'account_login' %}" class="create-account"
                       style="font-family: 'Sansation Bold'">{% trans 'Sign in' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
