{% extends 'layouts/console_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content-body col-md-10 col-md-offset-1">
        <div class="row connection">
            <div class="title">
                <span>Creación de Conexión</span>
            </div>
            <form>
                <div class="form">
                    <div class="col-md-9">
                        <div class="col-md-6 group">
                            <label>Nombre:</label>
                            <input>
                        </div>
                        <div class="col-md-6 group">
                            <label>Base De Datos:</label>
                            <input>
                        </div>
                        <div class="col-md-6 group">
                            <label>Host:</label>
                            <input>
                        </div>
                        <div class="col-md-6 group">
                            <label>Tabla:</label>
                            <input>
                        </div>
                        <div class="col-md-6 group">
                            <label>Puerto:</label>
                            <input>
                        </div>
                        <div class="col-md-6 group">
                            <label>Usuario:</label>
                            <input>
                        </div>
                        <div class="col-md-6 group">
                            <label>Contraseña:</label>
                            <input>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6 group">
                            <div class="button">
                                Test
                            </div>
                            <button type="submit">
                                Crear Conexión
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}