{% extends 'commons/site_base.html' %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('select#spreadsheet').on('change', function () {
                getSpreadsheetInfo($(this).val())
            });

            $('#sheet-selector').on('change', 'select#sheet', function () {
                getSpreadsheetValues($('select#spreadsheet option:selected').val(), $(this).val())
            })
        });

        function getData(url, callback) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    callback(response);
                }
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div id="table">
        <ul>
            {% for a in object_list %}
                <li>{{ a }}
                    <ul>
                        {% for g in a.gear.all %}
                           <li>{{ g.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}