{% extends 'layouts/site_base.html' %}
{% load static %}

{% block content %}
    {# USER INFO #}
    <div class="col-md-12 dashboard_border">
        <div class="col-md-4">
            User: {{ request.user }}
        </div>
        <div class="col-md-4">
            Connectors and Credits Information
        </div>
        <div class="col-md-4">
            Availability graph
        </div>
    </div>

    {# GROUPS (CARPETAS) #}
    <div class="col-md-12 dashboard_border">
        Groups:
        <br />
        {% for group in gear_groups %}
            {% include 'gear/snippets/group.html' with id=group.id name=group.name columns=4%}
        {% endfor %}
    </div>
    {# GEARS "MAS USADOS" #}
    <div class="col-md-12 dashboard_border">
        Gears:
        <br />
        {% for gear in used_gears %}
            {% include 'gear/snippets/gear_small.html' with id=gear.id name=gear.name source=gear.source.connection.connector.icon.url target=gear.target.connection.connector.icon.url %}
        {% endfor %}
    </div>
{% endblock %}
