{% extends 'layouts/components_base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-12">
        {# USER INFO #}
        <div> User:
            <div>{{ request.user }}</div>
        </div>
        <br/>
        {# GROUPS (CARPETAS) #}
        <div>Groups:
            {% for group in gear_groups %}
                <div>{{ group }}</div>
            {% endfor %}
        </div>
        <br/>
        {# GEARS "MAS USADOS" #}
        <div>Most used gears:
            {% for gear in used_gears %}
                <div data-gear-id="{{ gear.id }}">
                    <img src="{{ gear.source.connection.connector.icon.url }}" height="20" width="20">
                    <span> --- </span>
                    <img src="{{ gear.target.connection.connector.icon.url }}" height="20" width="20">
                    {{ gear.name }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
