{% extends 'layouts/site_base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-12">
        <p class="text_title"><b>Políticas de privacidad y uso de GRPLUG</b></p>
        <p class="text_justify"><b>GEARPLUG resalta y está de acuerdo con la Propiedad intelectual</b>sobre los
            contenidos del Sitio Web. Su titularidad es de terceros que autorizaron el uso de los mismos en el Sitio
            Web o es información pública que se rige por las leyes de acceso a la información pública.</p>
        <p class="text_justify">Los textos, algoritmos y elementos gráficos que constituyen la página Web, así como su
            presentación y montaje, o son titularidad exclusiva de <b>GEARPLUG</b> u ostentan los derechos de
            explotación necesarios. Sin perjuicio de lo anterior, los nombres comerciales, marcas o signos distintivos
            que aparecen o a los que se hace alusión en el Sitio Web, pertenecen a sus respectivos propietarios y se
            encuentran protegidos por la legislación vigente al respecto.</p>
        <p class="text_justify">Se prohíbe cualquier uso, transformación o explotación de los contenidos incluidos en
            el Sitio Web con finalidades comerciales o promocionales, salvo autorización previa de <b>GEARPLUG;</b> en
            cualquier caso se prohíbe el uso contrario a la ley y del Sitio Web para uso personal y no comercial,
            siempre y cuando se haga expresa mención de la propiedad del autor del contenido.</p>
        <p class="text_justify">Todos los logotipos y marcas de la página Web son propiedad de <b>GEARPLUG</b> o su
            uso ha sido autorizado por sus titulares a <b>GEARPLUG,</b> siendo, en todo caso, los titulares los
            responsables de cualquier posible controversia que pudieran darse respecto a ellos. Los titulares de dichas
            marcas y logotipos se reservan el derecho de entablar las acciones legales que consideren convenientes para
            hacer valer sus derechos.</p>
        <p class="text_justify">En caso de reclamaciones que pudieran interponerse por los usuarios o por terceros en
            relación con posibles incumplimientos de los derechos de propiedad intelectual sobre cualquiera de los
            contenidos del Sitio Web, deberán dirigirse a la siguiente dirección de correo electrónico:
            <u>info@grplug.com</u>. Una vez notificado a este correo, dicho contenido será eliminado y posteriormente
            corregido del Sitio Web hasta que quien haya publicado el contenido en disputa, resuelva el conflicto con
            quien envía la reclamación.</p>
        <p class="text_justify"><b>-POLITICAS DE PRIVACIDAD</b></p>
        <p class="text_justify">Se entiende por información personal aquella suministrada por el Usuario para el
            registro, la cual incluye datos como: nombre, identificación, edad, género, dirección, correo electrónico y
            teléfono.</p>
        <p class="text_justify">Estos datos ingresados por el usuario solo se revelarán a los socios comerciales
            actuales con fines informativos, ya sea para mostrar resultados, conmutar información comercial o para
            propósitos legales, solo cuando sea exclusivamente necesario y a su vez esta información no será usada para
            venta o suministro a otras organizaciones.</p>
        <p class="text_justify">Toda información suministrada en la plataforma del GRPLUG será responsabilidad
            exclusiva del usuario, la fuente y el destino de la misma será también su responsabilidad. Para efectos,
            <b>GRPLUG</b> no se hace responsable de esta información.</p>
        <p class="text_justify"><b>DATOS</b></p>
        <p class="text_justify">El almacenamiento y uso de la información personal se rige por las Políticas de
            Privacidad del Sitio Web.</p>
        <p class="text_justify">El usuario acepta que todos los datos que suministre para efectos de la finalización de
            los diferentes procesos y eventual utilización del software que previamente GEARPLUG ha desarrollado para
            su propio beneficio, son otorgados de manera voluntaria y se compromete a que todos los datos son verídicos
            y que en cualquier momento GEARPLUG puede corroborarlos.</p>
        <p class="text_justify">Retendremos cualquier información que el usuario nos proporcione hasta que elimine su
            cuenta de GEARPLUG</p>
        <p class="text_justify">GEAR PLUG no venderá ni cederá la información que el usuario otorgue, ya que ésta será
            de uso exclusivo para el funcionamiento del servicio que se brinda a través del portal de GEAR PLUG.</p>
        <p class="text_justify">En caso de vender la empresa los datos suministrados también harán parte de la
            transferencia</p>
        <p class="text_justify">Si el usuario se niegua a suministrar los datos requeridos, no podrá hacer uso a
            plenitud de los servicios de GEAR PLUG, no obstante, podrá dar un vistazo de algunas herramientas con las
            que cuenta nuestro software.</p>
        <p class="text_justify"><b>INFORMACIÓN NO SOLICITADA</b></p>
        <p class="text_justify">Si el usuario transmite información por medio de foros, mensajes o cualquier medio de
            participación a cerca de un producto y/o servicio y que ésta tenga que ver con la modificación, creación e
            integración de un producto o en general, cualquier información no solicitada, será considerada como no
            confidencial y por ende, GEARPLUG será totalmente autónomo de usarla para su propio beneficio, replicarla o
            transmitirla si bien lo considera sin la posterior atribución al usuario.</p>
        <p class="text_justify"><b>MENORES DE EDAD</b></p>
        <p class="text_justify">GEAR PLUG no recopila datos personales de niños menores de 13 años de edad sin que los
            padres tengan pleno conocimiento y posterior confirmación por correo electrónico de lo que el menor está
            adquiriendo. Posteriormente se le recomienda al menor que no envíe ningún dato personal a través de los
            Servicios ofrecidos por internet. Recomendamos a los padres y/o representantes legales, controlar el uso de
            Internet de sus hijos y para ayudar a hacer cumplir nuestra política de privacidad le solicitamos que
            informe a sus hijos que nunca deben proporcionar datos personales sin su permiso.</p>
        <p class="text_justify"><b>PRIVACIDAD DE TERCEROS</b></p>
        <p class="text_justify">Estas políticas de privacidad solo aplican a GEAR PLUG, nuestro servicio puede incluir
            enlaces o conexiones con terceros como Gmail, Facebook, Mailchimp, etc, y los procesos que reúne nuestro
            paquete de servicio no acogen en ninguna medida los enlaces de los sitios y políticas de privacidad de estos
            terceros, en caso de tener algún inconveniente y éstos estén fuera de los cánones de nuestras políticas,
            recomendamos dirigirse a los terceros con el proveedor con el que se haya generado la conexión.</p>
        <p class="text_justify"><b>SEGURIDAD</b></p>
        <p class="text_justify">Para GRPLUG es importante proteger toda la información que el usuario nos provee, así
            que ésta estará encriptada bajo las políticas de acceso y seguridad avaladas por estándares internacionales,
            no obstante, si usted como usuario percibe alguna falla de seguridad y su información se ve vulnerada, no
            dude en contactarse con nosotros mediante el correo electrónico: info@grplug.com y se procederá a buscar
            soluciones a las que dé lugar.</p>
        <p class="text_justify"><b>COOKIES</b></p>
        <p class="text_justify">El web site de GEARPLUG utilizará cookies que alojarán una porción de información como
            los datos de ingreso al portal, de tal forma el usuario no deberá recordar o ingresar los datos cada vez que
            requiera ingresar al portal, estas cookies siempre se usarán bajo la aceptación del usuario y a su vez son
            susceptibles de eliminarse bajo el criterio del mismo. GRPLUG a través de estas cookies, recolectará
            información y analítica sobre el uso de su servicio y portal web.</p>
        <p class="text_justify"><b>SERVIDORES</b></p>
        <p class="text_justify">Toda la información que se recopile va a estar almacenada en los servidores de GEAR PLUG
            y/o sus proveedores. Vale acotar, que todo estará supervisado por el equipo de GEAR PLUG.</p>
        <p class="text_justify"><b>CAMBIOS DE LAS POLÍTICAS</b></p>
        <p class="text_justify">Habrá ocasiones en las que nos veremos obligados a cambiar las políticas de privacidad
            y GEARPLUG se reserva expresamente el derecho a cambiarlas, ya sea porque nuestro modelo de negocio lo
            requiera y nos debamos ajustar constantemente a los estándares internacionales, por nuevos contactos
            comerciales y/o petición de socios estratégicos. Estos cambios se efectuarán en momentos muy específicos y
            siempre enviaremos una notificación por correo electrónico a todos nuestros usuarios para que estén
            enterados de las actualizaciones, a su vez, se publicarán los respectivos cambios en esta página y se
            resaltará respectivamente el documento final. Al igual que en el primer momento, el usuario deberá validar
            la aceptación de las nuevas políticas de privacidad para asegurar la continuidad del servicio ofrecido por
            GEARPLUG. De no aceptar estos cambios, el usuario se podrá dar de baja del servicio, siguiendo el proceso
            establecido en el contrato.</p>
        <p class="text_justify"><b>- Ley aplicable y jurisdicción</b></p>
        <p class="text_justify">a. Estas condiciones de uso del Sitio Web se rigen por las leyes de Estados Unidos. Si
            cualquier disposición de estas condiciones pierde validez o fuerza obligatoria, por cualquier razón, todas
            las demás disposiciones, conservan su fuerza obligatoria, carácter vinculante y generarán todos sus efectos.
        </p>
        <p class="text_justify">b. Para cualquier efecto legal o judicial, el lugar de las presentes condiciones es el
            estado de constitución de la compañía, y cualquier controversia que surja de su interpretación o aplicación
            se someterá a los jueces en Estados Unidos.</p>
        <p class="text_justify"><b>- Participación dentro del Sitio Web</b></p>
        <p class="text_justify">Por el hecho de ingresar al Sitio Web y para garantizar el buen y adecuado uso del
            mismo, el usuario reconoce que <b>GEARPLUG</b> se reserva el derecho de:</p>
        <p class="text_justify">- Incluir o no a su criterio en el Sitio Web, el material recibido de los usuarios. En
            el caso de incluirlo, podrá mantenerlo o modificarlo en el Sitio Web por el lapso que considere pertinente.
        </p>
        <p class="text_justify">- Remover, sin que sea obligatorio, contenidos que a juicio de GEARPLUG sean ilegales,
            ofensivos, difamatorios o que de cualquier u otra forma, violen estas Condiciones de Uso. Así mismo, podrán
            ser retirados los contenidos que violen derechos de propiedad intelectual, a solicitud de éste.</p>
        <p class="text_justify">- Utilizar la información personal y/o contenidos suministrados por los Usuarios de
            acuerdo con las Condiciones de Uso del Sitio Web y la Política de Privacidad.</p>
        <p class="text_justify"><b>- Registro del usuario.</b></p>
        <p class="text_justify">Por el hecho de ingresar a la Página Web su información y para garantizar el buen y
            adecuado uso de la misma, el Usuario deberá cumplir con lo siguiente:</p>
        <p class="text_justify">- Ser responsable por cualquier actividad que se lleve a cabo bajo su registro.</p>
        <p class="text_justify">- Ser responsable de la seguridad de su contraseña.</p>
        <p class="text_justify">- Debe ser mayor de edad o mayores de 13 años bajo la supervisión de los padres o
            tutores legales.</p>
        <p class="text_justify">- No abusar, acosar, amenazar o intimidar a otros usuarios del Sitio Web, ya sea a
            través de los chats, foros, blogs o cualquier otro espacio de participación.</p>
        <p class="text_justify">- No usar las conexiones del Sitio Web como medio para desarrollar actividades ilegales
            o no autorizadas a nivel internacional y local.</p>
        <p class="text_justify">- Ser el único responsable por su conducta y por el contenido de textos, gráficos,
            fotos, videos o cualquier otro tipo de información de la cual haga uso o incluya en el Sitio Web.</p>
        <p class="text_justify">-El usuario se compromete a otorgar todos los datos necesarios por GEARPLUG de forma
            verídica y autónoma tanto para el registro, como para la utilización del software desarrollado por GEARPLUG,
            de llegar a hacer caso omiso a este requerimiento, se someterá a todas las políticas de seguridad y en caso
            de ser necesario se pasará a instancias legales si las circunstancias y la ley lo dictaminan.</p>
        <p class="text_justify"><b>GEARPLUG</b> no será responsable por el incumplimiento por parte del usuario de las
            reglas anteriores, y el usuario mantendrá a <b>GEARPLUG</b> indemne por todo concepto en caso de violación
            de las mismas.</p>
        <p class="text_justify"><b>CIRCULACIÓN DE DATOS</b></p>
        <p class="text_justify">Los datos que circulen por nuestros servidores no son propiedad de GEARPLUG, éstos
            estarán almacenados únicamente para consulta del usuario con efectos de históricos y consultas que él quiera
            realizar sobre los procesos efectuados con sus propios datos.</p>
        <p class="text_justify">El almacenamiento, y uso de la información personal se rige por las Políticas de
            Privacidad del Sitio Web.</p>
        <p class="text_justify"><b>INTEGRACIÓN DE SERVICIO DE TERCEROS</b></p>
        <p class="text_justify">Para usar GEARPLUG, necesitamos almacenar credenciales para servicios de terceros
            (Gmail, mailchimp, etc.). Dichas credenciales son encriptadas en nuestra base de datos. Sólo se utilizarán
            para acceder a los datos que nos ha indicado. Registramos cierta información no identificable para
            proporcionar soporte, solucionar problemas y posteriormente, hacer las respectivas conexiones.</p>
        <p class="text_justify"><b>POLITICAS DE USO DE GRPLUG</b></p>
        <p class="text_justify">La participación en los foros, chats, comentarios y otros espacios similares de
            participación dentro del Sitio Web (en adelante &quot;los Espacios&quot;) implican la aceptación y
            conocimiento por parte del usuario de estas Condiciones de Uso, así como el compromiso irrevocable de cada
            usuario de respetar dichas condiciones, siendo entendido y aceptado que eximen a <b>GEARPLUG</b> y
            mantendrán indemne a <b>GEARPLUG</b> de cualquier responsabilidad que se derive del incumplimiento a tal
            compromiso, lo cual incluye daños y perjuicios causados a otros usuarios y/o cualquier tercero afectado. Si
            un usuario no está conforme o de acuerdo con los presentes Términos y Condiciones de la Página Web, se le
            sugiere no participar en él y/o en los Espacios.</p>
        <p class="text_justify">Cada usuario acepta y faculta expresa e irrevocablemente a <b>GEARPLUG</b> para revisar
            los comentarios u opiniones vertidos en los Espacios y/o suprimir los que no se adecuen a las normas de
            convivencia plasmadas en las Condiciones de Uso del Sitio Web, así como a interrumpir la comunicación en
            caso de que lo considere conveniente por tales motivos. De igual forma, <b>GEARPLUG</b> se reserva el
            derecho de ejercer tal facultad cuando así lo estime conveniente, a su discreción, sin que por tal razón
            sea factible imputar responsabilidad alguna a <b>GEARPLUG</b> por el no ejercicio de la facultad o por la
            existencia, ingreso y participación de usuarios no deseables, como de comentarios u opiniones que no
            atienden estas recomendaciones.</p>
        <p class="text_justify">Teniendo en cuenta que los comentarios y opiniones vertidas en los foros, comentarios y
            Blogs no se derivaran de <b>GEARPLUG</b> sino de terceros absolutamente ajenos, <b>GEARPLUG</b> no se
            responsabiliza por el tono de los mismos, así como tampoco presta conformidad ni discrepa con ellos, siendo
            entendido que emanan exclusivamente de su autor, y quedan bajo su completa responsabilidad.</p>
        <p class="text_justify">Por tal motivo, la persona que ingrese a la plataforma para hacer uso del servicio debe
            ser mayor de edad y poseer identificación, expedida en su país de origen.</p>
        <p class="text_justify">Asimismo, queda absolutamente prohibido ingresar comentarios, mensajes, opiniones,
            información, o similares, de contenido difamatorio, abusivo, contrario a la moral y las buenas costumbres,
            violatorio de derechos de terceros de cualquier índole, incluidos los derechos de los menores de edad, que
            causen daños y/o perjuicios, impidan o limiten el derecho propio o ajeno a usar los espacios y demás.
            Tampoco está permitido publicitar productos y/o servicios de cualquier tipo dentro de &quot;los
            espacios&quot;, ni utilizar o enviar virus, o desviarse de los temas propuestos en los foros</p>
        <p class="text_justify"><u>Ahora bien, en el supuesto de que este tipo de comentarios, mensajes, opiniones,
            información, o similares, ingrese en &quot;los espacios&quot;, los usuarios, aceptan en forma expresa e
            incondicionada que <b>GEARPLUG,</b> sus empleados, proveedores, o anunciantes, NO serán responsables en modo
            alguno por las consecuencias de cualquier tipo y alcance que los mismos pudieran generar, frente a cualquier
            tercero, ya sea en virtud de su inclusión dentro de &quot;los espacios&quot; o por cualquier causa
            relacionada directa o indirectamente con el uso de los mismos.</u></p>
        <p class="text_justify"><u><b>GEARPLUG,</b> sus empleados, proveedores o anunciantes, NO serán responsables de
            modo alguno en el supuesto que los comentarios, información, mensajes, opiniones, o similares, se vean
            afectados, eliminados, alterados, o modificados de alguna manera.</u></p>
        <p class="text_justify">Los Usuarios se abstendrán de iniciar cualquier acción o reclamación contra
            <b>GEARPLUG</b> relacionada con, o derivada de, la información, contenido, opinión o comentario proveniente
            de otro Usuario y/o de un tercero ajeno a <b>GEARPLUG,</b> siendo aceptado por los usuarios, que tales
            acciones o reclamaciones solo podrán ser iniciadas contra su directo responsable, para lo cual deberán
            promover las acciones legales pertinentes, bajo los procedimientos legalmente establecidos para el efecto.
            <b>GEARPLUG</b> podrá abstenerse de suministrar la información disponible sobre el presunto infractor cuando
            a su juicio tal información esté protegida por la confidencialidad ofrecida a los usuarios, en cuyo caso, el
            suministro estará condicionado a la solicitud de autoridad competente.</p>
        <p class="text_justify"><b>GEARPLUG</b> se reserva el derecho de excluir de los Espacios, a aquellos usuarios
            que no se atengan a las presentes reglas o que no respeten los principios básicos de sana convivencia, así
            como también de interrumpir, eliminar y/o excluir, total o parcialmente, en todos los casos, todo aquel
            mensaje, opinión, información o similares que no se adecuen o resulten violatorios de las reglas y
            principios antes indicados.</p>
        <p class="text_justify">Cada Usuario deberá denunciar cualquier violación a las Condiciones de Uso del Sitio Web
            por parte de otros Usuarios, de las que tenga conocimiento, para lo cual remitirá un correo electrónico a 
            <u>info@grplug.com</u> a fin de que <b>GEARPLUG</b> tome las medidas que estén a su alcance con respecto al
            Sitio Web.</p>
    </div>
{% endblock %}