amqp==2.1.4
anyjson==0.3.3
appdirs==1.4.3
asn1crypto==0.22.0
billiard==3.5.0.2
bitbucket-api==0.5.0
celery==4.0.2
cffi==1.10.0
cryptography==1.8.1
defusedxml==0.5.0
Django==1.11.1
django-appconf==1.0.2
django-bootstrap-form==3.2.1
django-bootstrap-toolkit==2.15.0
django-braces==1.11.0
django-cors-headers==2.0.2
django-debug-toolbar==1.8
django-extra-views==0.9.0
django-forms-bootstrap==3.1.0
django-oauth-toolkit==0.12.0
django-social-auth==0.7.28
django-user-accounts==2.0.1
django-uwsgi==0.1.6
django-widget-tweaks==1.4.1
djangorestframework==3.6.2
docopt==0.4.0
facebook-sdk==2.0.0
getresponse==0.2
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
jira==1.0.10
kombu==4.0.2
mailchimp3==2.0.11
mandrill==1.0.57
mysqlclient==1.3.10
oauth2==1.9.0.post1
oauth2client==4.0.0
oauthlib==2.0.2
olefile==0.44
packaging==16.8
paypalrestsdk==1.12.0
pbr==3.0.0
Pillow==4.1.1
pkg-resources==0.0.0
psycopg2==2.7.1
pyactiveresource==2.1.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pymssql==2.1.3
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-magento==1.0.3
python-memcached==1.58
python-openid==2.2.5
pytz==2017.2
PyYAML==3.12
redis==2.10.5
requests==2.13.0
requests-oauthlib==0.8.0
requests-toolbelt==0.7.1
rsa==3.4.2
sh==1.12.13
ShopifyAPI==2.5.0
simple-salesforce==0.72.2
simplejson==3.10.0
six==1.10.0
slacker==0.9.42
sqlparse==0.2.3
surveymonty==0.2.5
tweepy==3.5.0
uritemplate==3.0.0
uWSGI==2.0.15
vine==1.1.3
wunderpy2==0.1.4
xmldict==0.4.1
xmltodict==0.11.0
git+git://github.com/Seraphicer/python-instagram-ext.git
git+git://github.com/ingmferrer/python-sdk.git
git+git://github.com/gustav0/sugarcrm.git
git+git://github.com/evernote/evernote-sdk-python3.git
git+git://github.com/GearPlug/facebookmarketing-python.git

