{% extends 'connection/create.html' %}
{% load bootstrap_tags %}

{% block body_content %}
    <form id="formCreateConnection" class="create-connection-form form-horizontal" action=""
          method="post" autocomplete="off">
        <select id="site_id" name="site_id">
            {% for site in sites %}
                <option id="{{ site.0 }}">{{ site.1 }}</option>
            {% endfor %}
        </select>
        <a href="javascript:auth('{{ authorization_url }}')">MercadoLibre Auth</a>
        {% csrf_token %}
    </form>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        function auth(url) {
            var thisIsAnObject = {foo: 'bar'};
            var win = window.open(url, 'Auth', 'width=972,height=660,modal=yes,alwaysRaised=yes');
            win.myVariable = thisIsAnObject;
            var checkConnect = setInterval(function () {
                if (!win || !win.closed) return;
                clearInterval(checkConnect);
                window.location.reload();
            }, 100);
        }

        $("#site_id").change(function () {
            var url = "{% url 'connection:ajax_mercadolibre_post_site' %}";
            $.ajax({
                method: "POST",
                url: url,
                data: {site_id: $(this).find('option:selected').attr('id')}
            }).done(function (response) {
                console.log('POSTed')
            });
        });
    </script>
{% endblock %}
