.content {
    /*Mover*/
    font-family: "Sansation", sans-serif;
    /**/

}

.dashboard-header {
    height: 108px;
    padding: 1% 3%;
    box-sizing: border-box;
}

.dashboard-header .left-side {
    display: inline-block;
    vertical-align: top;
}

.dashboard-header .left-side .logo {
    display: inline-block;
}

.dashboard-header .left-side .name {
    font-size: 2.50em;
    color: #9d9ba1;
    display: inline-block;
}

.dashboard-header .right-side {
    float: right;
    font-size: 2.00em;
    color: #9d9ba1;
    display: inline-block;
    vertical-align: top;
}

.dashboard-header .right-side .user, .dashboard-header .right-side .divider, .dashboard-header .right-side .search {
    display: inline-block;
    vertical-align: top;
}

.dashboard-header .right-side .user .name, .dashboard-header .right-side .user .icon {
    display: inline-block;
    vertical-align: top;
}

.dashboard-header .right-side .user .name {
    padding-top: 15px;
}

.dashboard-header .right-side .user .icon {
    padding-top: 5px;
    cursor: pointer;
}

.dashboard-header .right-side .divider {
    width: 1px;
    height: 60px;
    background-color: #e4e4e8;
    margin: 0 25px 0 18px;
}

.dashboard-header .right-side .search {
    position: relative;
    padding-top: 15px;
}

.dashboard-header .right-side .search img {
    position: absolute;
    top: 45%;
    left: 5%;
}

.dashboard-header .right-side .search input {
    width: 376px;
    height: 40px;
    border: solid 2px #dddde1;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    font-size: 0.80em;
    padding-left: 15%;

    outline: none;
}

.dashboard-panel {
    width: 17%;
    height: calc(100% - 108px);
    display: inline-block;
    background: url('../../img/console/g5842.png') bottom center/100% no-repeat, #005ea7;

    vertical-align: top;

    padding: 35px 0 0 0;
    box-sizing: border-box;
}

.dashboard-panel .menu .item {
    padding: 3% 15%;
    margin: 3% 0;
    cursor: pointer;
}

.dashboard-panel .menu .item.logout {
    background-color: #00e08f;
}

.dashboard-panel .menu .item .image {
    width: 41px;
    display: inline-block;
    vertical-align: top;
}

.dashboard-panel .menu .item .text {
    width: calc(100% - 46px);
    display: inline-block;
    vertical-align: top;

    font-size: 1.80em;
    color: #FFFFFF;
    padding: 0 0 0 5px;
    line-height: 1em;
}

.dashboard-panel .menu .divider {
    width: 80%;
    height: 1px;
    background-color: #0069c9;
    margin: 8% auto;
    display: block;
}

.dashboard-panel .menu .item.logout .text {
    color: #0062a6;
}

.dashboard-content {
    width: 83%;
    height: calc(100% - 108px);
    display: inline-block;
    background-color: #f8f8f8;
    padding: 0 8%;
}

.content-header {
    padding-top: 75px;
}

.content-header .image, .content-header .info {
    display: inline-block;
    vertical-align: top;
}

.content-header .info {
    padding: 35px 0 0 15px;
}

.content-header .info .user {
    font-size: 1.80em;
    color: #9d9ba1;
    line-height: 0.80em;
}

.content-header .info .description {
    font-style: italic;
    font-size: 1.80em;
    color: #9d9ba1;
}

.content-header .info .plan {
    font-family: 'Sansation Bold';
    text-align: center;

    margin: 6px 0 0 0;
    padding-top: 2px;
    width: 140px;
    height: 26px;
    background-color: #005ca7;
    color: #00e08f;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.content-header .divider {
    width: 1px;
    height: 176px;
    background-color: #c1c0c4;
}

.content-header .divider2 {
    width: 100%;
    height: 1px;
    background-color: #c1c0c4;
    margin: 22px auto 0 auto;
}

.content-header .gp-info, .content-header .gp-bar {
    display: inline-block;
    vertical-align: top;
}

.content-header .gp-info {
    padding: 35px 0 0 0;
}

.content-header .gp-bar {
    margin-left: 60px;
}

.content-header .gp-info .connectors, .content-header .gp-info .credits {
    font-size: 1.30em;
    color: #9d9ba1;
}

.content-header .gp-info .available {
    font-family: 'Sansation Bold';
    text-align: center;

    margin: 45px 0 0 55px;
    padding-top: 2px;
    background-color: #00e08f;
    color: #005ca7;
    text-transform: uppercase;

    width: 140px;
    height: 26px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.info-tool {
    width: 93px;
    height: 81px;
    position: fixed;
    top: 260px;
    right: 0;

    background: url("../../img/console/g6736.png") center/60% no-repeat, #00e08f;

    border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -webkit-border-radius: 30px 0px 0px 30px;
    border: 0px solid #000000;
    cursor: pointer;
}

.content-body {
    padding-top: 75px;
}

.content-body .projects .title, .content-body .gears .title {
    font-family: "Sansation Bold";
    font-size: 2em;
    color: #9d9ba1;
    padding-bottom: 35px;
}

.content-body .projects .title span, .content-body .gears .title span {
    border-bottom: 3px solid #00e08f;
    display: inline-block;
    line-height: 1em;
}

.content-body .projects .folders {

}

.content-body .projects .folders .item {
    display: inline-block;
    vertical-align: top;
    padding: 0 32px;
}

.content-body .projects .folders .item .name {
    font-size: 2.00em;
    color: #9d9ba1;
    padding-top: 20px;
}

.content-body .projects .add-wrapper .add, .content-body .projects .add-wrapper .steps-tooltip {
    display: inline-block;
    vertical-align: top;
}

.content-body .projects .add-wrapper .add {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.content-body .projects .add-wrapper .add .text {
    font-size: 2em;
    color: #9d9ba1;
    text-align: center;
    padding-top: 15px;
}

.content-body .projects .add-wrapper .steps-tooltip {
    position: relative;
    margin: 35px 0 0 20px;
}

.content-body .projects .add-wrapper .steps-tooltip .bar, .content-body .projects .add-wrapper .steps-tooltip .box {
    display: inline-block;
    vertical-align: middle;
}

.content-body .projects .add-wrapper .steps-tooltip .bar {
    width: 75px;
    height: 2px;
    background-color: #24e49e;

}

.content-body .projects .add-wrapper .steps-tooltip .box {
    background-color: #24e49e;
    width: 325px;
    height: 84px;
    padding-top: 7px;

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.content-body .projects .add-wrapper .steps-tooltip .box .text {
    font-size: 1.70em;
    color: #FFFFFF;
    padding: 0 30px;
}

.content-body .projects .add-wrapper .steps-tooltip .image {
    position: absolute;
    top: 20px;
    left: 55px;
}

.content-body .gears {
    padding-top: 40px;
}

.content-body .gears .list .item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.content-body .gears .list .item.extended {
    display: block;
    text-align: left;
    padding-bottom: 35px;
}

.content-body .gears .list .item.extended .image-wrapper {
    width: 60%;
}

.content-body .gears .list .item .image-wrapper {
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.content-body .gears .list .item .image-wrapper .image {
    width: 180px;
    height: 90px;
    background: url('../../img/console/g7316.png') center/9% no-repeat;
    text-align: center;
}

.content-body .gears .list .item.extended .image-wrapper .image, .content-body .gears .list .item.extended .image-wrapper .name, .content-body .gears .list .item.extended .image-wrapper .control {
    display: inline-block;
    vertical-align: top;
}

.content-body .gears .list .item.extended .image-wrapper .name {
    width: 30%;
}

.content-body .gears .list .item.extended .image-wrapper .name {
    width: 40%;
    font-size: 1.90em;
    color: #9d9ba1;
    text-align: center;
    padding-top: 25px;
}

.content-body .gears .list .item.extended .image-wrapper .control {
    float: right;
    font-family: "Sansation Bold";
    font-size: 1.70em;
    color: #005ca7;
    padding: 20px 25px 0 0;
}

.content-body .gears .list .item.extended .image-wrapper .control .edit, .content-body .gears .list .item.extended .image-wrapper .control .button, .content-body .gears .list .item.extended .image-wrapper .control .status {
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
}

.content-body .gears .list .item.extended .image-wrapper .control .status {
    width: 46px;
}

.content-body .gears .list .item .image-wrapper .image .connector {
    display: inline-block;
    padding: 20px 15px 0 15px;

}

.content-body .gears .list .item .name {
    font-size: 2em;
    color: #9d9ba1;
}

.content-body .gears .add .button, .content-body .gears .add .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.00em;
    color: #9d9ba1;
}

.content-body .gears .add .text {
    padding-left: 15px;
}

.gp-modal, .gp-modal .modal-content2 {
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.gp-modal {
    background-color: #FFFFFF;
    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -121px; /* Negative half of height. */
    margin-left: -200px; /* Negative half of width. */

    z-index: 9998;

    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
}

.gp-modal .close-button {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 9999;
    cursor: pointer;
}

.gp-modal .modal-content2 {
    width: calc(400px - 10px);
    height: calc(100% - 10px);
    background-color: #005ca7;
    margin: 5px;

    padding: 20px 36px;
}

.gp-modal .modal-content2 .title {
    font-family: "Sansation Bold";
    font-size: 1.80em;
    color: #FFFFFF;
    text-align: center;
}

.gp-modal .modal-content2 .form input, .gp-modal .modal-content2 .button {
    width: 100%;
    height: 56px;
    margin: 12px 0;

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;

    text-align: center;
}

.gp-modal .modal-content2 .form input {
    font-size: 2.00em;
    padding: 0;
    border: none;
    outline: none;
    color: #9d9ba1;

}

.gp-modal .modal-content2 .form label {
    font-size: 1.80em;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0;
}

.gp-modal .modal-content2 .button {
    font-family: "Sansation Bold";
    font-size: 1.70em;
    color: #FFFFFF;
    background-color: #00e08f;
    padding-top: 10px;
    cursor: pointer;
}

.gp-modal.modal-double-column {
    margin-left: -400px;
}

.gp-modal.modal-double-column .modal-content2 {
    width: calc(800px - 10px);
}

.gp-modal.modal-double-column .modal-content2 .group .test-button {
    width: 100%;
    height: 56px;
    background-color: #bbbcc2;
    margin: 12px 0;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.80em;
    padding-top: 10px;
}

.gp-modal.modal-double-column .modal-content2 .button {
    width: 316px;
    margin: 0 auto;
}

.gp-modal.modal-double-column .modal-content2 .group {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 2%;
}

.gp-modal.modal-alternative .modal-content2 {
    background-color: #00e08f;
}

.gp-modal.modal-alternative .modal-content2 .button {
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 45px;
    background-color: #ffffff;
    padding: 0;
    overflow: hidden;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}

.gp-modal.modal-alternative .modal-content2 .button .wrapper {
    background-color: #005ca7;
    margin: 5px;
    padding-top: 5px;
    height: calc(100% - 10px);
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.gp-modal.modal-alternative .modal-content2 .title {
    color: #005ca7;
    font-family: Sansation;
}

.gp-modal.modal-alternative .modal-content2 .text {
    font-size: 1.60em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

/*Mismo css de landing */

.content-body .apps-list .text2 {
    font-family: "Sansation Light";
    font-size: 3.00em;
    color: #727277;
    text-align: center;
    padding-top: 2%;
}

.content-body .apps-list .search1 {
    padding-top: 1%;
}

.content-body .apps-list .search1 .box {
    width: 448px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}

.content-body .apps-list .search1 .box img {
    position: absolute;
    top: 25%;
    left: 5%;
}

.content-body .apps-list .search1 .box input {
    width: 100%;
    height: 100%;
    border: 0;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    font-family: 'Sansation';
    font-size: 1.40em;
    padding: 0 15%;

    outline: none;
    background-color: #ffffff;

}

.content-body .apps-list .nav {
    padding-top: 1%;
    text-align: center;
}

.content-body .apps-list .nav .item {
    font-family: "Sansation Light";
    font-size: 1.60em;
    color: #727277;
    display: inline-block;
}

.content-body .apps-list .nav .divider {
    width: 1px;
    height: 26px;
    display: inline-block;
    background-color: #e5e6e9;
    position: relative;
    top: 5px;
    margin: 0 1%;
}

.content-body .apps-list .list-wrapper {
    width: 80%;
    max-height: 550px;
    overflow: hidden;
    margin: 5% auto;
    overflow-y: scroll;
}

.content-body .apps-list .list-wrapper .list-item {
    text-align: center;
    margin: 5% 0 10% 0;
}

.content-body .apps-list .list-wrapper .list-item .image1 {

}

.content-body .apps-list .list-wrapper .list-item .divider {
    width: 98px;
    height: 1px;
    display: inline-block;
    background-color: #e5e6e9;
    margin: 5% 0 1% 0;

}

.content-body .apps-list .list-wrapper .list-item.selected .image1 img {
    border: 4px solid #00e08f;
    border-radius: 25px;
}

.content-body .apps-list .list-wrapper .list-item .name1 {
    font-family: "Sansation Light";
    font-size: 1.40em;
    color: #727277;
}

/* ****** */
