.table2 {
    display: table;
    height: calc(100% - 108px);
}

.table-cell2 {
    float: none;
    display: table-cell;
    vertical-align: top;
}

html {
    overflow-x: hidden;
}

.content {
    /*Mover*/
    font-family: "Sansation", sans-serif;
    /**/

}

.dashboard-header {
    height: 80px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.dashboard-header .logo {
    text-align: center;
}

.dashboard-header .right-side {
    float: right;
    font-size: 1.60em;
    color: #9d9ba1;
    display: inline-block;
    vertical-align: top;
}

.dashboard-header .right-side .user,
.dashboard-header .right-side .divider,
.dashboard-header .right-side .search {
    display: inline-block;
    vertical-align: top;
    float: right;
}

.dashboard-header .right-side .user .name,
.dashboard-header .right-side .user .icon {
    display: inline-block;
    vertical-align: top;
}

.dashboard-header .right-side .user .name {
    padding-top: 18px;
}

.dashboard-header .right-side .user .icon {
    padding-top: 5px;
    cursor: pointer;
}

.dashboard-header .right-side .divider {
    width: 1px;
    height: 60px;
    background-color: #e4e4e8;
    margin: 0 25px 0 18px;
}

.dashboard-header .right-side .search {
    position: relative;
    padding-top: 15px;
}

.dashboard-header .right-side .search img {
    position: absolute;
    top: 45%;
    left: 5%;
}

.dashboard-header .right-side .search input {
    width: 376px;
    height: 40px;
    border: solid 2px #dddde1;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    font-size: 0.80em;
    padding-left: 15%;

    outline: none;
}

.dashboard-panel {
    height: calc(100% + 80px);
    background: url('../../img/console/g5842.png') bottom center/100% no-repeat, #005ea7;
    padding: 35px 0 0 0;
    box-sizing: border-box;
}

.dashboard-panel .menu {
    background-color: #005ea7;
}

.dashboard-panel .menu .item {
    padding: 3% 15%;
    margin: 3% 0;
    cursor: pointer;
}

.dashboard-panel .menu .item.logout {
    background-color: #005599;
}

.dashboard-panel .menu .item .image {
    width: 41px;
    display: inline-block;
    vertical-align: top;
}

.dashboard-panel .menu .item .text {
    width: calc(100% - 46px);
    display: inline-block;
    vertical-align: top;

    font-size: 1.60em;
    color: #FFFFFF;
    padding: 5px 0 0 5px;
    line-height: 1em;
}

.dashboard-panel .menu .divider {
    width: 80%;
    height: 1px;
    background-color: #0069c9;
    margin: 8% auto;
    display: block;
}

.dashboard-content {
    height: auto;
    background-color: #ffffff;
}

.content-header {
    padding-top: 75px;
}

.content-header .image,
.content-header .info {
    display: inline-block;
    vertical-align: top;
}

.content-header .info {
    padding: 35px 0 0 15px;
}

.content-header .info .user {
    font-size: 1.90em;
    color: #9d9ba1;
    line-height: 0.80em;
}

.content-header .info .description {
    font-size: 1.60em;
    color: #9d9ba1;
}

.content-header .info .plan {
    font-family: 'Sansation Bold';
    text-align: center;

    margin: 6px 0 0 0;
    padding-top: 2px;
    width: 140px;
    height: 26px;
    background-color: #005ca7;
    color: #FFFFFF;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.content-header .divider {
    width: 1px;
    height: 176px;
    background-color: #c1c0c4;
}

.content-header .divider2 {
    width: 100%;
    height: 1px;
    background-color: #c1c0c4;
    margin: 22px auto 0 auto;
}

.content-header .gp-info,
.content-header .gp-bar {
    display: inline-block;
    vertical-align: top;
}

.content-header .gp-info {
    padding: 35px 0 0 0;
}

.content-header .gp-bar {
    margin-left: 60px;
}

.content-header .gp-info .connectors,
.content-header .gp-info .credits {
    font-size: 1.20em;
    color: #9d9ba1;
}

.content-header .gp-info .available {
    font-family: 'Sansation Bold';
    text-align: center;

    margin: 45px 0 0 55px;
    padding-top: 2px;
    background-color: #00e08f;
    color: #005ca7;
    text-transform: uppercase;

    width: 140px;
    height: 26px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.info-tool {
    width: 93px;
    height: 81px;
    position: fixed;
    top: 260px;
    right: 0;

    background: url("../../img/console/g6736.png") center/60% no-repeat, #00e08f;

    border-radius: 45px 0px 0px 45px;
    -moz-border-radius: 45px 0px 0px 45px;
    -webkit-border-radius: 45px 0px 0px 45px;
    border: 0px solid #000000;
    cursor: pointer;
    z-index: 1;
}

.content-body {
    padding-top: 75px;
}

.content-body .projects .title,
.content-body .gears .title,
.content-body .connection .title,
.content-body .mapping .title,
.content-body .history .title,
.content-body .connections .title,
.content-body .specifications .title,
.content-body .plug-test .title {
    font-family: "Sansation Bold";
    font-size: 1.60em;
    color: #005ca7;
    padding-bottom: 35px;
}

.content-body .projects .title span,
.content-body .gears .title span,
.content-body .connection .title span,
.content-body .mapping .title span,
.content-body .history .title span,
.content-body .connections .title span,
.content-body .specifications .title span,
.content-body .plug-test .title span {
    border-bottom: 3px solid #00e08f;
    display: inline-block;
    line-height: 1em;
}

.content-body .projects .folders {

}

.content-body .projects .folders .item {

}

.content-body .projects .folders .item .name {
    font-size: 1.50em;
    color: #9d9ba1;
    padding-top: 20px;

}

.content-body .projects .folders .item .image img {
    cursor: pointer;
}

.content-body .projects .add-wrapper .add,
.content-body .projects .add-wrapper .steps-tooltip {
    display: inline-block;
    vertical-align: top;
}

.content-body .projects .add-wrapper .add {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.content-body .projects .add-wrapper .add .text {
    font-size: 1.60em;
    color: #9d9ba1;
    text-align: center;
    padding-top: 15px;
}

.content-body .projects .add-wrapper .steps-tooltip {
    position: relative;
    margin: 35px 0 0 20px;
}

.content-body .projects .add-wrapper .steps-tooltip .bar,
.content-body .projects .add-wrapper .steps-tooltip .box {
    display: inline-block;
    vertical-align: middle;
}

.content-body .projects .add-wrapper .steps-tooltip .bar {
    width: 75px;
    height: 2px;
    background-color: #24e49e;

}

.content-body .projects .add-wrapper .steps-tooltip .box {
    background-color: #24e49e;
    width: 280px;
    height: 70px;
    padding-top: 7px;

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.content-body .projects .add-wrapper .steps-tooltip .box .text {
    font-size: 1.40em;
    color: #FFFFFF;
    padding: 0 30px;
}

.content-body .projects .add-wrapper .steps-tooltip .image {
    position: absolute;
    top: 12px;
    left: 55px;
}

.content-body .gears {
    padding-top: 40px;
}

.content-body .gears .list .item {
    text-align: center;
}

.content-body .gears .list .item.extended,
.content-body .connections .list .item.extended {
    display: block;
    text-align: left;
    padding-bottom: 35px;
}

.content-body .connections .list .item.extended {
    padding-bottom: 15px;
}

.content-body .gears .list .item.extended .image-wrapper {
    height: 60px;
}

.content-body .gears .list .item .image-wrapper,
.content-body .connections .list .item .image-wrapper {
    height: 60px;
    background-color: #f6f7f8;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.content-body .connections .list .item .image-wrapper {
    height: 48px;
    cursor: pointer;
}

.content-body .gears .list .item .image-wrapper .image {
    width: 180px;
    height: 100%;
    background: url('../../img/console/g7316.png') center/6% no-repeat;
    text-align: center;
}

.content-body .gears .list .item.extended .image-wrapper .image,
.content-body .gears .list .item.extended .image-wrapper .name,
.content-body .gears .list .item.extended .image-wrapper .control,
.content-body .connections .list .item.extended .image-wrapper .button,
.content-body .connections .list .item.extended .image-wrapper .name {
    display: inline-block;
    vertical-align: top;
}

.content-body .gears .list .item.extended .image-wrapper .name,
.content-body .connections .list .item.extended .image-wrapper .name {
    width: 40%;
    font-size: 1.30em;
    color: #9d9ba1;
    text-align: center;
    padding-top: 20px;
}

.content-body .connections .list .item.extended .image-wrapper .name {
    padding-top: 12px;
    text-align: left;
}

.content-body .connections .list .item.extended .image-wrapper .button {
    margin: 10px 10px 0 20px;
}

.content-body .connections .list .test-button {
    padding-top: 10px;
    font-size: 0;
}

.content-body .connections .list .test-button .button {
    -webkit-appearance: none;
    width: 36px;
    height: 36px;
    border: 4px solid #e7e8ec;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px 0px #FFFFFF inset;
    cursor: pointer;
}

.content-body .connections .list .test-button .button:before {
    content: '';
    display: block;
    width: 65%;
    height: 65%;
    margin: 17% auto;
    border-radius: 50%;
    background: #e7e8ec;
}

.content-body .connections .list .test-button .button.passed {
    border: 4px solid #005ca7;
}

.content-body .connections .list .test-button .button.passed:before {
    background: #00e08f;
}

.content-body .connections .list .test-button .button.failed {
    border: 4px solid #ce050e;
}

.content-body .connections .list .test-button .button.failed:before {
    background: #ce050e;
}

.content-body .connections .list .test-button .button,
.content-body .connections .list .test-button .text-line,
.content-body .connections .list .test-button .text {
    display: inline-block;
    vertical-align: middle;
}

.content-body .connections .list .test-button .text-line {
    width: 10px;
    height: 1px;
    background-color: #00e08f;
    margin-left: 5px;
}

.content-body .connections .list .test-button .text {
    padding: 5px 10px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: solid 1px #9d9ba1;
    font-size: 14px;
    color: #9d9ba1;
}

.content-body .connections .list .test-button .text.passed {
    border: solid 1px #00e08f;
    color: #005ca7;
}

.content-body .connections .list .test-button .text.failed {
    border: solid 1px #ce050e;
    color: #9d9ba1;
}

.content-body .gears .list .item.extended .image-wrapper .control {
    float: right;
    font-family: "Sansation Bold";
    font-size: 1.40em;
    color: #005ca7;
    padding: 12px 25px 0 0;
}

.content-body .gears .list .item.extended .image-wrapper .control .edit,
.content-body .gears .list .item.extended .image-wrapper .control .button,
.content-body .gears .list .item.extended .image-wrapper .control .status,
.content-body .gears .list .item.extended .image-wrapper .control .history {
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
    cursor: pointer;
}

.content-body .gears .list .item.extended .image-wrapper .control .status {
    width: 46px;
}

.content-body .gears .list .item .image-wrapper .image .connector {
    display: inline-block;
    padding: 12px 15px 0 15px;

}

.content-body .gears .list .item .name {
    font-size: 1.60em;
    color: #9d9ba1;
}

.content-body .gears .add .button,
.content-body .gears .add .text,
.content-body .projects .folders .add .button,
.content-body .projects .folders .add .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.90em;
    color: #005ca7;
    cursor: pointer;
}

.content-body .gears .add .text,
.content-body .folders .add .text {
    padding-left: 15px;
}

.gp-modal,
.gp-modal .modal-content2 {
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.gp-modal {
    background-color: #FFFFFF;
    position: fixed;
    width: auto;
    top: 50%;
    left: 50%;
    margin-top: -121px; /* Negative half of height. */
    margin-left: -200px; /* Negative half of width. */

    z-index: 9998;

    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
}

.gp-modal .close-button {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
}

.gp-modal .modal-content2 {
    width: 390px;
    height: calc(100% - 10px);
    background-color: #005ca7;
    padding: 20px 36px;
}

.gp-modal.alternative2 .modal-content2 {
    width: 530px;
}

.gp-modal .modal-content2 .title {
    font-family: "Sansation Bold";
    font-size: 1.80em;
    color: #FFFFFF;
    text-align: center;
}

.gp-modal .modal-content2 .form input[type="text"],
.gp-modal .modal-content2 .form textarea,
.gp-modal .modal-content2 .button,
.content-body .connection .form input[type="text"],
.content-body .connection .form textarea,
.content-body .mapping .form input[type="text"],
.content-body .mapping .form textarea {
    width: 100%;
    height: 44px;
    margin: 12px 0;

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;

    text-align: center;
}

.gp-modal .modal-content2 .form textarea,
.content-body .connection .form textarea,
.content-body .mapping .form textarea {
    height: 119px;
}

.gp-modal .modal-content2 .form input[type="text"],
.gp-modal .modal-content2 .form textarea,
.content-body .connection .form input[type="text"],
.content-body .connection .form textarea,
.content-body .mapping .form input[type="text"],
.content-body .mapping .form textarea {
    font-size: 2.00em;
    padding: 0;
    border: none;
    outline: none;
    color: #9d9ba1;
}

.content-body .connection .form input[type="text"],
.content-body .connection .form textarea,
.content-body .mapping .form input[type="text"],
.content-body .mapping .form textarea {
    text-align: left;
    padding: 0 2%;
    background-color: #f6f7f8;
    border: 1px solid #dbdbdd;
    resize: none;
}

.gp-modal .modal-content2 .form label,
.content-body .connection .form label:not(.btn),
.content-body .mapping .form label:not(.btn) {
    font-size: 1.80em;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0;
}

.content-body .connection .form label:not(.btn),
.content-body .mapping .form label:not(.btn) {
    color: #9d9ba1;
}

.gp-modal .modal-content2 .button {
    font-family: "Sansation Bold";
    font-size: 1.70em;
    color: #FFFFFF;
    background-color: #00e08f;
    padding-top: 5px;
    cursor: pointer;
}

.gp-modal.modal-double-column {
    margin-left: -400px;
}

.gp-modal.modal-double-column .modal-content2 {
    width: calc(800px - 10px);
}

.gp-modal.modal-double-column .modal-content2 .group .test-button {
    width: 100%;
    height: 56px;
    background-color: #bbbcc2;
    margin: 12px 0;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.80em;
    padding-top: 10px;
}

.gp-modal.modal-double-column .modal-content2 .button {
    width: 316px;
    margin: 0 auto;
}

.gp-modal.modal-double-column .modal-content2 .group {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 2%;
}

.gp-modal.modal-alternative .modal-content2 {
    background-color: #00e08f;
}

.gp-modal.modal-alternative.alternative2 .modal-content2 {
    background-color: #005ca7;
}

.gp-modal.modal-alternative .modal-content2 .button {
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 45px;
    background-color: #ffffff;
    padding: 0;
    overflow: hidden;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.gp-modal.modal-alternative .modal-content2 .button .wrapper {
    background-color: #005ca7;
    padding-top: 5px;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.gp-modal.modal-alternative .modal-content2 .title {
    color: #005ca7;
    font-family: Sansation;
}

.gp-modal.modal-alternative.alternative2 .modal-content2 .title {
    font-family: "Sansation Bold";
    color: #00e48e;
}

.gp-modal.modal-alternative .modal-content2 .text {
    font-size: 1.60em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

/*Mismo css de landing */

.content-body .apps-list .text2 {
    font-family: "Sansation Light";
    font-size: 3.00em;
    color: #727277;
    text-align: center;
    padding-top: 2%;
}

.content-body .apps-list .search1 {
    padding-top: 1%;
}

.content-body .apps-list .search1 .box-wrapper {
    width: 466px;
    height: 46px;
    background-color: #005ca5;
    overflow: hidden;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    margin: 0 auto;
}

.content-body .apps-list .search1 .box-wrapper .box {
    margin: 9px 0 0 10px;
    width: 310px;
    height: 28px;
    position: relative;

    display: inline-block;
    vertical-align: top;
}

.content-body .apps-list .search1 .box-wrapper .box img {
    position: absolute;
    top: 25%;
    left: 5%;
}

.content-body .apps-list .search1 .box-wrapper .box input {
    width: 100%;
    height: 100%;
    border: 0;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    font-family: 'Sansation';
    font-size: 1.40em;
    padding: 0 15%;

    outline: none;
    background-color: #ffffff;

}

.content-body .apps-list .search1 .box-wrapper .divider {
    width: 2px;
    height: 26px;
    margin: 9px 10px 0 10px;
    background-color: #09df8d;

    display: inline-block;
    vertical-align: top;
}

.content-body .apps-list .search1 .box-wrapper .rail-select {
    width: 110px;

    display: inline-block;
    vertical-align: top;
}

.content-body .apps-list .search1 .box-wrapper .rail-select select {
    background-color: transparent;
    border: none;

    font-size: 1.40em;
    color: #FFFFFF;
}

.content-body .apps-list .search1 .box-wrapper .rail-select select option {
    color: #000000;
}

.content-body .apps-list .search1 .box-wrapper .rail-select .select-side {
    background-color: transparent;
}

.content-body .apps-list .search1 .box-wrapper .rail-select .select-side:before {
    content: none;
}

.content-body .apps-list .nav {
    padding-top: 1%;
    text-align: center;
}

.content-body .apps-list .nav .item {
    font-family: "Sansation Light";
    font-size: 1.60em;
    color: #727277;
    display: inline-block;
}

.content-body .apps-list .nav .divider {
    width: 1px;
    height: 26px;
    display: inline-block;
    background-color: #e5e6e9;
    position: relative;
    top: 5px;
    margin: 0 1%;
}

.content-body .apps-list .list-wrapper {
    width: 80%;
    overflow: hidden;
    margin: 5% auto;
}

.content-body .apps-list .list-wrapper .list-item {
    text-align: center;
    margin: 5% 0 10% 0;
}

.content-body .apps-list .list-wrapper .list-item .image1 {

}

.content-body .apps-list .list-wrapper .list-item .divider {
    width: 98px;
    height: 1px;
    display: inline-block;
    background-color: #e5e6e9;
    margin: 5% 0 1% 0;

}

.content-body .apps-list .list-wrapper .list-item.selected .image1 img {
    border: 4px solid #00e08f;
    border-radius: 25px;
}

.content-body .apps-list .list-wrapper .list-item .name1 {
    font-family: "Sansation Light";
    font-size: 1.40em;
    color: #727277;
}

/* ****** */

.content-body .connection .form button.button-test,
.content-body .mapping .form button.button-test {
    font-family: "Sansation Bold";
    font-size: 1.80em;
    min-width: 200px;
    padding: 5px 15px 0 15px;
    height: 45px;
    margin: 12px 0;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    text-align: center;
    background-color: #bbbcc2;
    color: #FFFFFF;

    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.content-body .connection .form .button-create,
.content-body .mapping .form .button-create,
.content-body .connections .form .button-create,
.content-body .specifications .form .button-create,
.content-body .plug-test .form .button-create {
    font-family: "Sansation Bold";
    font-size: 1.60em;
    min-width: 200px;
    padding: 0 15px;
    height: 45px;
    margin: 12px 0;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    text-align: center;
    background-color: #005ca7;
    color: #FFFFFF;

    display: inline-block;
    vertical-align: top;

    outline: none;

    text-decoration: none;

}

.content-body .connections .form a.button-create,
.content-body .plug-test .form a.button-create {
    padding-top: 7px;
}

.content-body .plug-test .text {
    font-size: 16px;
    color: #9d9ba1;

}

.content-body .button-create.green {
    background-color: #00e08f !important;
}

.btn {
    padding: 10px 10px;
}

.btn-group,
.btn-group-vertical {
    width: 36px;
    height: 36px;
}

.btn-success,
.btn-success,
.open > .dropdown-toggle.btn-success {
    background-color: #00e08f !important;
    border-color: #00e08f !important;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
    color: #005aa6;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #00e08f;
    border-radius: 50%;
    outline: none;
    background: #00e08f;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    background: #005ca7;
}

.rail-select {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.rail-select select {
    border: solid 1px grey;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Sansation";
    font-size: 2.00em;
    color: #9d9ba1;
    height: 42px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #f6f7f8;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 1px solid #dbdbdd;
    text-align: center;
}

.rail-select select:focus {
    outline: none;
    box-shadow: none;
}

.rail-select .select-side {
    width: 30px;
    position: absolute;
    top: 0px;
    background-color: #00e08f;
    height: 100%;
    right: 0;
    border-radius: 0px 3px 3px 0px;
    border-right: solid 1px gray;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    pointer-events: none;
    border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -webkit-border-radius: 0 25px 25px 0;
    border: 0px solid #000000;
}

.rail-select .select-side:before {
    border-left: solid 1px lightgrey;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    /* or 100px */
}

.rail-select .select-side i {
    left: 25%;
    top: 15px;
}

.rail-select .select-side i.blue {
    color: #FFFFFF;
}

.rail-select .select-side img {
    width: 75%;
    position: relative;
    top: 8px;
    left: 2px;
}

.rail-select .form-control {
    cursor: pointer;
}

.rail-radio {
    margin: 10px 0 20px 0;
}

.rail-checkbox {
    margin: 20px 0;
}

.content-body .history .navbar {
    height: 58px;
    background-color: #005ca5;

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    padding-top: 7px;
}

.form-control {
    padding: 2px 12px;
}

.content-body .history select.form-control {
    font-size: 1.40em;
}

.content-body .history .indicator {
    width: 100%;
    height: 23px;
    color: #FFFFFF;

    padding-top: 4px;
    font-family: "Sansation Bold";
    font-size: 0.80em;
    text-align: center;

    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

.content-body .history .history-list .item {
    padding: 9px 0;
}

.content-body .history .history-list .item .indicator.green {
    background-color: #00e08f;
}

.content-body .history .history-list .item .indicator.red {
    background-color: #d40032;
}

.content-body .history .history-list .item .indicator.orange {
    background-color: #e65100;
}

.content-body .history .history-list .item .text {
    color: #adacb1;
    font-size: 1.30em;
}

.content-body .history .navbar button {
    width: 100%;
    height: 42px;
    color: #FFFFFF;
    background-color: #00e08e;
    font-size: 1.40em;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: none;
}

.content-body .history .navbar .rail-checkbox {
    margin: 5px 0;
}

.content-body .history .navbar .rail-checkbox .btn-success,
.btn-success,
.open > .dropdown-toggle.btn-success {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.gear-progress-bar {
    width: 100%;
    font-size: 0;
    text-align: center;
    padding-top: 15px;
}

.gear-progress-bar .bar-line {
    width: 19%;
    height: 2px;
    background-color: #005ca7;
}

.gear-progress-bar .bar-line,
.gear-progress-bar .bar-step-wrapper {
    display: inline-block;
    vertical-align: top;
}

.gear-progress-bar .bar-line {
    position: relative;
    top: 8px;
}

.gear-progress-bar .bar-step-wrapper .bar-circle {
    width: 18px;
    height: 18px;
    background-color: #dfe0e3;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

.gear-progress-bar .bar-step-wrapper .bar-circle.active {
    background-color: #005ca7;
    border: solid 5px #00e08f;
}

.gear-progress-bar .bar-step-wrapper .bar-step {
    font-size: 14px;
    text-align: center;
    color: #9d9ba1ff;
}

.context-menu {
    width: 140px;
    padding: 10px 0;
    background-color: #005ca7;

    border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    -webkit-border-radius: 0px 20px 20px 20px;
    border: 0px solid #000000;

    overflow: hidden;
    z-index: 9999;
}

.context-menu .menu-item {
    font-size: 15px;
    color: #FFFFFF;
    padding: 5px 15px;
    cursor: pointer;
}

.context-menu .menu-item:hover {
    background-color: #004a88;
}

.context-menu .menu-separator {
    width: calc(100% - 30px);
    height: 1px;
    background-color: #008fc5;
    margin: 0 auto;
}
