{% load bootstrap_tags %}


<form id="formCreateConnection" class="create-connection-form form-horizontal" action=""
      method="post" autocomplete="off">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <button id="btnTestConnection">Test connection</button>
    <div id="connectionTestResult"></div>
    <button id="btnCreateConnection" disabled="disabled">Create connection</button>
    {% if form.error %}
        <div class="error">{{ form.error }}</div>
    {% endif %}
</form>


<script type="application/javascript">

    $(document).ready(function () {
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        $('button#btnTestConnection').click(function () {
            $.ajax({
                method: "POST",
                url: "{% url 'connection:ajax_mailchimp_test_connection' %}",
                data: $('form#formCreateConnection').serialize(),
            }).done(function (response) {
                if (response.data) {
                    $('div#connectionTestResult').html('<p>Connection is valid.</p>');
                    $('button#btnCreateConnection').prop("disabled", false);
                }
            });
            return false;
        });
    });
</script>