{% load account %}{% user_display user as user_display %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table style="width: 750px;
           background: url(http://localhost:8000/static/mailing/img/bg_welcome.png) 0 0px no-repeat scroll
           transparent; background-size: cover;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="font-family: Trebuchet MS; font-size: 70px; color: #005CA6; text-align: center;
                padding-top: 17%; font-weight: bold;">
                    Bienvenido
                </td>
            </tr>
            <tr>
                <td style="font-family: Trebuchet MS; font-size: 21px; color: #09DF8E; text-align: center;
                padding-top: 2%; font-style: italic">
                    ¡Gracias por registrarte con nosotros!
                </td>
            </tr>
            <tr>
                <td style="font-family: Trebuchet MS; font-size: 17px; color: #9C9AA0; text-align: center;
                padding: 3% 12% 0">
                     {{ user_display }} A partir de ahora podrás crear los Gear que quieras para optimizar el marketing digital de tu
                    empresa, si tienes alguna duda, comunícate con nosotros aquí:
                </td>
            </tr>
            <tr>
{#                TODO validar correo de soporte #}
                <td style="text-align: center; padding-top: 2%;">
                    <a href="mailto:soporte@grplug.com">
                        <img src="http://localhost:8000/static/mailing/img/bt_support.png" style="width: 25%">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 7% 0 1% 0">
                    <a href="#"><img src="http://localhost:8000/static/mailing/img/facebook.png" style="width: 3%"></a>
                    <a href="#"><img src="http://localhost:8000/static/mailing/img/gplus.png" style="width: 3%"></a>
                    <a href="#"><img src="http://localhost:8000/static/mailing/img/twitter.png" style="width: 3%"></a>
                    <a href="https://grplug.com/" style="font-family: Trebuchet MS; font-size: 21px; color: #005CA4;
                        text-decoration: none">www.grplug.com</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>