{% load static %}
    <html>
        <head>
            {% block meta_base %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">

                <meta name="description" content="">
                <meta name="author" content="">
                {% block meta_tags %}{% endblock %}
            {% endblock %}
            <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}
            {% endblock %}{% endblock %}</title>
            {% block base_styles %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                      crossorigin="anonymous">
                {% block styles %}{% endblock %}
            {% endblock %}
        </head>
        <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"
                {% block body_extra_attributes %}{% endblock %}>
            <!-- <div class="page-header">
                <h1><a href="/">Cabecera</a></h1>
            </div> -->
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">Wizard</div>
                        <div class="col-md-2">
                            <div class="col-md-12">
                                Logo
                            </div>
                            <div class="col-md-12">
                                Fijos
                            </div>
                            <div class="col-md-12">
                                Lista
                            </div>
                        </div>
                        <div class="col-md-10">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <h1><a href="/">Footer</a></h1>
            </div>

            {% block base_scripts %}
                <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
                </script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                        crossorigin="anonymous"></script>
                <script type="application/javascript" href="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}">
                </script>
                {% block scripts %}{% endblock %}
            {% endblock %}

            {% block extra_body_base %}
                {% block extra_body %}{% endblock %}
            {% endblock %}
        </body>
    </html>