{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/dashboard.css' %}">
{% endblock %}

{% block body_base %}
    <div class="info-tool"></div>
    <div id="logout-modal" class="modal fade" role="dialog">
        <div class="gp-modal modal-dialog">
            <div class="modal-content3">
                <div class="image-wrapper">
                    <div class="image">
                        <img src="{% static 'img/console/g6630.png' %}" width="128" height="128">
                    </div>
                </div>
                <div class="text1">
                    ¡{% trans 'Adios' %} Bill Gates!
                </div>
                <div class="text2">
                    ¿Estás seguro que quieres salir de sesión?
                </div>
                <button type="button" class="button-create gray" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" id="logout" class="button-create">
                    Cerrar Sesión
                </button>
            </div>
        </div>
    </div>
    <div id="dashboard-header">
    <div class="left">
        <a href="{% url 'home:dashboard' %}">
            <div class="logo">
                <img src="{% static 'img/landing/logo_header.png' %}" width="220">
            </div>
            <<<<<<< HEAD
        </a>
    </div>
    <div class="right">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="gear-progress-bar">
    <div class="bar-step-wrapper">
    <div class="bar-circle active">
    =======
    <div class="col-md-10">
    <div class="col-md-4 col-md-offset-4">
    <div class="gear-progress-bar" id="progress" style="display: none;">
    <div class="bar-step-wrapper">
        <div class="bar-circle" id="step1">
            >>>>>>> master

        </div>
        <<<<<<< HEAD
        <div class="bar-step">
            1
        </div>
    </div>
    <div class="bar-line"></div>
    <div class="bar-step-wrapper">
        <div class="bar-circle">
            =======
            <div class="bar-line"></div>
            <div class="bar-step-wrapper">
                <div class="bar-circle" id="step2">

                </div>
                <div class="bar-step">
                    2
                </div>
            </div>
            <div class="bar-line"></div>
            <div class="bar-step-wrapper">
                <div class="bar-circle" id="step3">
                    >>>>>>> master

                </div>
                <<<<<<< HEAD
                <div class="bar-step">
                    2
                </div>
            </div>
            <div class="bar-line"></div>
            <div class="bar-step-wrapper">
                <div class="bar-circle">
                    =======
                    <div class="bar-line"></div>
                    <div class="bar-step-wrapper">
                        <div class="bar-circle" id="step4">

                        </div>
                        <div class="bar-step">
                            4
                        </div>
                    </div>
                    <div class="bar-line"></div>
                    <div class="bar-step-wrapper">
                        <div class="bar-circle" id="step5">
                            >>>>>>> master

                        </div>
                        <div class="bar-step">
                            3
                        </div>
                        <div class="bar-line"></div>
                        <div class="bar-step-wrapper">
                            <div class="bar-circle" id="step6">

                            </div>
                            <div class="bar-step">
                                6
                            </div>
                        </div>
                    </div>
                    <div class="bar-line"></div>
                    <div class="bar-step-wrapper">
                        <div class="bar-circle">

                        </div>
                        <div class="bar-step">
                            4
                        </div>
                    </div>
                    <div class="bar-line"></div>
                    <div class="bar-step-wrapper">
                        <div class="bar-circle">

                        </div>
                        <div class="bar-step">
                            5
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 right-side">
                <div class="user">
                    <div class="icon">
                        <img src="{% static 'img/console/g6630.png' %}" width="48">
                    </div>
                    <div class="name">
                        {% trans 'Perfil' %}
                    </div>
                    <div class="icon">
                        <img src="{% static 'img/console/notifications.png' %}" width="48">
                    </div>
                    <div class="name">
                        {% trans 'Notificaciones' %}
                    </div>
                </div>
                {#                <div class="divider"></div>#}
                {#                <div class="search">#}
                {#                    <img src="{% static 'img/landing/lupa.png' %}" width="21px" height="20px">#}
                {#                    <input type="text">#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <div class="row table2">
        <div class="col-md-2 table-cell2 dashboard-panel">

            <div class="menu">
                <div class="item">
                    <a href="{% url 'gear:list' %}">
                        <div class="image">
                            <img src="{% static 'img/console/g6666.png' %}">
                        </div>
                        <div class="text">
                            {% trans 'Gears' %}
                        </div>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <a href="{% url 'gear:activities_history' %}">
                        <div class="image">
                            <img src="{% static 'img/console/g5752.png' %}">
                        </div>
                        <div class="text">
                            {% trans 'Actividad' %}
                        </div>
                    </a>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{% static 'img/console/g5752.png' %}">
                    </div>
                    <div class="text">
                        {% trans 'Actividad' %}
                    </div>
                    </a>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{% static 'img/console/g6678.png' %}">
                    </div>
                    <div class="text">
                        {% trans 'Ayuda' %}
                    </div>
                </div>
                <div class="item">
                    <a href="{% url 'connection:manage' %}">
                        <div class="image">
                            <img src="{% static 'img/console/g5740.png' %}">
                        </div>
                        <div class="text">
                            {% trans 'Administrar Conexiones' %}
                        </div>
                    </a>
                </div>
                <div class="item logout">
                    <div data-toggle="modal" data-target="#logout-modal">
                        <div class="image">
                            <img src="{% static 'img/console/logout.png' %}">
                        </div>
                        <div class="text">
                            {% trans 'Cerrar Sesión' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dashboard-content">
            <div class="row">
                <div class="content-body col-md-10 col-md-offset-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#logout').click(function (e) {
            var button = $(this);
            $.ajax({
                method: "POST",
                url: "{% url 'account_logout' %}",
                data: {}
            }).done(function (response) {
                window.location.replace('{% url 'landing:index' %}')
            });
            return false;
        });
        var progress = '{{ progress }}';
        if (progress === '1') {
            $('#progress').show();
            $('#step1').addClass('active');
        } else if (progress === '2') {
            $('#progress').show();
            $('#step1').addClass('active');
            $('#step2').addClass('active');
        } else if (progress === '3') {
            $('#progress').show();
            $('#step1').addClass('active');
            $('#step2').addClass('active');
            $('#step3').addClass('active');
        } else if (progress === '4') {
            $('#progress').show();
            $('#step1').addClass('active');
            $('#step2').addClass('active');
            $('#step3').addClass('active');
            $('#step4').addClass('active');
        } else if (progress === '5') {
            $('#progress').show();
            $('#step1').addClass('active');
            $('#step2').addClass('active');
            $('#step3').addClass('active');
            $('#step4').addClass('active');
            $('#step5').addClass('active');
        } else if (progress === '6') {
            $('#progress').show();
            $('#step1').addClass('active');
            $('#step2').addClass('active');
            $('#step3').addClass('active');
            $('#step4').addClass('active');
            $('#step5').addClass('active');
            $('#step6').addClass('active');
        }
    </script>
{% endblock %}
