{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block scripts %}
    {{ block.super }}
{% endblock %}
{% block styles %}
    <link href="{% static 'css/landing/style_page.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/aboutus.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/contactus.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/apps.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/steps.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/terms.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/privacy.css' %}" rel="stylesheet">
{% endblock %}
{% block body_class %}ayuda{% endblock %}
{% block body_base %}
    <div class="content">
        {% block header_content %}
            <header>
                <nav class="nav_spaces">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <a href="{% url 'landing:index' %}">
                                <img src="{% static 'img/landing/logo_header.png' %}" class="img-responsive logo_header">
                            </a>
                        </div>
                        <div class="col-md-5 col-md-offset-2 text_menu">
                            <a {% if request.path == "/about/" %}class="selected_page"{% endif %}
                               href="{% url 'landing:about' %}">{% trans 'Nosotros' %}</a>
                            <a {% if request.path == "/steps/" %}class="selected_page"{% endif %}
                               href="{% url 'landing:steps' %}">{% trans 'Cómo Funciona' %}</a>
                            <a {% if request.path == "/apps/directory/" %}class="selected_page"{% endif %}
                               href="{% url 'landing:apps_directory' %}">{% trans 'Apps' %}</a>
                            <a {% if request.path == "/contact/" %}class="selected_page"{% endif %}
                               href="{% url 'landing:contact' %}">{% trans 'Contacto' %}</a>
                        </div>
                        <div class="col-md-2">
                            <div class="border_login">
                                <a href="{% url 'account_login' %}">{% trans 'Ingresar' %}</a>
                            </div>

                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
        <div class="row">
            <div class="col-md-12 sp">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer>
        {% block footer_base %}
            {% block footer_content %}
                <div class="row">
                    <div class="col-md-12 bg_footer text-center">
                        <a href="#"> <img src="{% static 'img/landing/facebook1.png' %}"> </a>
                        <a href="#"> <img src="{% static 'img/landing/twitter.png' %}"> </a>
                        <a href="#"> <img src="{% static 'img/landing/facebook1.png' %}"> </a>
{#                        <a href="{% url 'landing:index' %}">www.gearplug.com</a> - All rights reserved &reg; -#}
{#                        <a href="{% url 'landing:terms' %}">Términos y Condiciones</a> -#}
{#                        <a href="{% url 'landing:privacy' %}">Políticas de Privacidad</a>#}
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </footer>
    {% block scripts_gear %}{% endblock %}
{% endblock %}

