{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block scripts %}
    {{ block.super }}
{% endblock %}
{% block styles %}
    <link href="{% static 'css/landing/style_page.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/aboutus.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/contactus.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/apps.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/steps.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/terms.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/privacy.css' %}" rel="stylesheet">
{% endblock %}
{% block body_class %}ayuda{% endblock %}
{% block body_base %}
    <div class="content">
        {% block header_content %}
            <header>
                <nav class="layout navbar navbar-default">
                    <div class="container-fluid sp">
                        <div class="navbar-header">
                            <a class="navbar-toggle collapsed" data-toggle="collapse"
                               data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <img src="{% static 'img/landing/burguer.png' %}" class="burguer-menu">
                            </a>
                            <a href="{% url 'landing:index' %}">
                                <img src="{% static 'img/landing/logo_header.png' %}" class="logo_header">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="menu nav navbar-nav">
                                <li class="visible-xs">
                                    <img src="{% static 'img/landing/logo_header_mb.png' %}" class="img-logo-mb">
                                </li>
{#                                <li class="inicio-mb">#}
{#                                    <img src="{% static 'img/landing/logo_header_mb.png' %}" class="img-logo-mb">#}
{#                                </li>#}
                                <li>
                                    <a {% if request.path == "/about/" %}class="selected_page"{% endif %}
                                       href="{% url 'landing:about' %}">{% trans 'Nosotros' %}</a>
                                </li>
                                <li>
                                    <a {% if request.path == "/steps/" %}class="selected_page"{% endif %}
                                       href="{% url 'landing:steps' %}">{% trans 'Cómo Funciona' %}</a>
                                </li>
                                <li>
                                    <a {% if request.path == "/apps/directory/" %}class="selected_page"{% endif %}
                                       href="{% url 'landing:apps_directory' %}">{% trans 'Apps' %}</a>
                                </li>
                                <li>
                                    <a {% if request.path == "/contact/" %}class="selected_page"{% endif %}
                                       href="{% url 'landing:contact' %}">{% trans 'Contacto' %}</a>
                                </li>
                                {% if request.user.is_authenticated == False %}
                                    <li class="menu-login">
                                        <a href="{% url 'account_login' %}">{% trans 'Ingresar' %}</a>
                                    </li>
                                {% else %}
                                    <li class="menu-login dropdown profile">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                                           role="button" aria-haspopup="true" aria-expanded="false">
                                            <img src="{% static 'img/landing/avatar.png' %}" class="img-avatar">
{#                                            <div class="text-avatar">#}
{#                                                {{ request.user.first_name|default:request.user.email }}#}
{#                                            </div>#}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <p class="text-avatar">
                                                    {{ request.user.first_name|default:request.user.email }}
{#                                                    damanrique@grplug.com#}
{#                                                    lulu#}
                                                </p>
                                            </li>
                                            <li><a href="{% url 'home:dashboard' %}"><p
                                                    class="border-options">Consola</p></a></li>
                                            <li><a href="#"><p class="border-options">Configuración</p></a></li>
                                            <li><a href="{% url 'account_logout' %}"><p>Cerrar Sesión</p></a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer_base %}
        {% block footer_content %}
            <footer>
                <div class="container-fluid sp">
                    <div class="row not-margin">
                        <div class="col-sm-12 col-md-12 bg_nets text-center">
                            <div class="col-sm-12 col-md-12">
                                <a href="#"> <img src="{% static 'img/landing/facebook1.png' %}"
                                                  class="padding-nets"></a>
                                <a href="#"> <img src="{% static 'img/landing/gplus.png' %}" class="padding-nets">
                                </a>
                                <a href="#"> <img src="{% static 'img/landing/twitter.png' %}" class="padding-nets">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-12 text-menu">
                                <a href="{% url 'landing:about' %}" class="border-menu">{% trans 'Nosotros' %}</a>
                                <a href="{% url 'landing:steps' %}" class="border-menu">
                                    {% trans 'Cómo Funciona' %}
                                </a>
                                <a href="{% url 'landing:apps_directory' %}" class="border-menu">
                                    {% trans 'Apps' %}
                                </a>
                                <a href="{% url 'landing:contact' %}" class="border-menu">{% trans 'Contacto' %}</a>
                                <a href="{% url 'account_login' %}">{% trans 'Ingresar' %}</a>
                            </div>
                            <div class="col-sm-12 col-md-12 privacy">
                                <a href="{% url 'landing:terms' %}" class="border-privacy">
                                    {% trans 'TERMINOS Y CONDICIONES' %}
                                </a>
                                <a href="{% url 'landing:privacy' %}"> {% trans 'POLÍTICAS DE PRIVACIDAD' %} </a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 bg_footer text-center text-footer">
                            <a href="{% url 'landing:index' %}">GearPlug</a> - All rights reserved &reg;
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    {% endblock %}
    <span class="ir-arriba icon-arrow-up2"></span>
    {% block scripts_gear %}{% endblock %}
{% endblock %}
