{% load static %}

<div class="col-md-7 item extended" data-gear-id="{{ gear.id }}">
    <div class="image-wrapper">
        <div class="image">
            <div class="connector">
                {% with icon73=gear.source.connection.connector.icon73 %}
                    {% if icon73 %}
                        <img src="{{ icon73.url }}" width="36" height="36">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="connector">
                {% with icon73=gear.target.connection.connector.icon73 %}
                    {% if icon73 %}
                        <img src="{{ icon73.url }}" width="36" height="36">
                    {% else %}
                        <img src="{% static 'img/console/unknown_plug.png' %}" width="36" height="36">
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="name">
            {{ gear.name }}
        </div>
        <div class="control">
            <div class="history">
                <a href="{% url 'gear:send_history' pk=gear.id %}">
                    <img src="{% static 'img/console/g8645.png' %}" width="36">
                </a>
            </div>
            <div class="edit">
                <a href="{% url 'gear:update' pk=gear.id %}">
                    <img src="{% static 'img/console/g3125.png' %}" width="34">
                </a>
            </div>
            <a class="toggle-gear-btn" href="{% url 'gear:toggle' gear_id=gear.id %}">
                <div class="button">
                    <img src="{% static gear.is_running|yesno:'img/console/g3317.png,img/console/g3333.png' %}"
                         width="36" height="36">
                    <div class="status">{{ gear.is_running|yesno:"ON,OFF" }}</div>
                </div>
            </a>
        </div>
    </div>
</div>
{#        <a href="{% url 'gear:send_history' pk=gear.id %}">A</a>#}
{#        <a href="{% url 'gear:download_history' pk=gear.id %}">B</a>#}
