{% load static %}

<div id="group-modal" class="modal fade" role="dialog">
    <div class="gp-modal modal-dialog">
        <button type="button" class="close close-button" data-dismiss="modal">
            <img src="{% static 'img/console/g1688.png' %}" width="50">
        </button>
        <div class="modal-content2">
            <div class="title">
                Nuevo Proyecto
            </div>
            <div class="form">
                <form action="{% url 'gear:create_group' %}" method="post" autocomplete="off" id="group-form">
                    <div class="group">
                        <div class="title">
                            {{ form.name.label }}
                        </div>
                        {{ form.name }}
                    </div>
                    {% if form.error %}
                        <div class="error">{{ form.error }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <button class="button">
                        Continuar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>