{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% load utils_gp %}

{% block body %}
    <div>new plug specification</div>
    <div>
        <select id="specification_id">
            {% for action_specification in action_specification_list %}
                <option value="{{ action_specification.id }}">{{ action_specification.name }}</option>
            {% endfor %}
        </select>

        {% if available_options %}
            <select id="especification_field">
                {% for o in available_options %}
                    {% if o|is_list or o|is_tuple and o.0 and o.1 %}
                        <option value="{{ o.1 }}">{{ o.0 }}</option>
                    {% else %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% else %}
            <input type="text" id="especification_field">
        {% endif %}
        <input type="hidden" id="plug_id" value="{{ plug_id }}">
        <button id="btnCreateSpecification">Create Specification</button>
        <form id="formCreatePlugSpecification" style="display: none;" class="create-plug-form form-horizontal" action=""
              method="post"
              autocomplete="off">
            {% csrf_token %}
            {{ form }}
            {% if form.error %}
                <div class="error">{{ form.error }}</div>
            {% endif %}
        </form>

        <a href="{% url 'wizard:set_gear_plugs' pk=request.session.gear_id|default:0 %}">Skip</a>
    </div>
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.0/jquery-ui.min.css' %}">
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('button#btnCreateSpecification').click(function () {
                var plug_id = $('input#plug_id').val();
                var specification_id = $('select#specification_id').val();
                var value = $('select#especification_field').val();
                $('input#id_value').val(value);
                $('select#id_action_specification').val(specification_id);
                $('select#id_plug').val(plug_id);
                $('select#id_action_specification').change();
                $('select#id_plug').change();
                $('form#formCreatePlugSpecification').submit();
                return false;
            })
        })
    </script>
{% endblock %}