{% block body %}
    {% for o in object_list %}
        <div class="specification" id="speicification-container-{{ o.id }}">
            {{ o.name }}:
            <select data-name="{{ o.name|slugify|lower }}" data-id="{{ o.id }}" name="specification-{{ o.id }}"
                    class="specification_select">
                <option>---------</option>
            </select>
        </div><br>
    {% endfor %}
{% endblock %}


{% block scripts %}
{#    {{ block.super }}#}
    <script type="application/javascript">
        $(document).ready(function () {
            var load_options = true;
            $(document).on('click', 'select.specification_select', function () {
                var select = $(this);
                if (load_options == true) {
                    var url = "{% url 'plug:action_specification_options' %}";
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: {
                            connection_id: {% if request.session.source_connection_id %}{{ request.session.source_connection_id }}{% elif request.session.target_connection_id %}{{ request.session.target_connection_id }}{% endif %},
                            action_specification_id: $(select).attr('data-id')
                        }
                    }).done(function (response) {
                        $(select).html(response).trigger('change');
                        load_options = false;
                    });
                }
            });
        })
    </script>
{% endblock %}