{% extends 'commons/site_base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block body %}
    MAP: ss
    <form method="POST" action="" class="">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button>Create Map</button>
    </form>
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.0/jquery-ui.min.css' %}">
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var availableTags = [{% for item in source_object_list %}'{{ item }}',{% endfor %}];
            $('input.form-control').autocomplete({
                source: availableTags
            });
        })
    </script>
{% endblock %}