{% extends 'connection/create.html' %}
{% load bootstrap_tags %}

{% block body_content %}
    <h3 id="status"></h3>
    <button id="btnLogin">Facebook login</button>
    <button id="btnCheckLeads">test connection</button>
    <button id="btnCreateConnection">Save connection</button>
    <div>
        <form id="formCreateConnection" style="display:none;" class="create-connection-form form-horizontal"
              action="{% url 'wizard:create_connection' connector_id=1 %}"
              method="post" autocomplete="off">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            {% if form.error %}
                <div class="error">{{ form.error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        function fbLogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    window.location.reload(false);
                }
            }, {scope: 'manage_pages'});
        }

        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                user_access_token = response.authResponse.accessToken;
                $('h3#status').html('Token obtenido, proceda a guardar la conexion.');
            } else if (response.status === 'not_authorized') {
                $('#btnLogin').show();
            } else {
                $('#btnLogin').show();
            }
        }

        $(document).ready(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1731160853833926',
                    cookie: true,  // enable cookies to allow the server to access
                    // the session
                    xfbml: true,  // parse social plugins on this page
                    version: 'v2.6' // use graph api version 2.5
                });
                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });
            }

            $('button#btnLogin').click(function () {
                fbLogin();
            });



            $('button#btnCreateConnection').click(function () {
                $('form#formCreateConnection').find('input#id_name').val('Facebook Connection');
                $('form#formCreateConnection').find('input#id_token').val(user_access_token);
                $('form#formCreateConnection').submit();
            });

            $('form#formCreateConnection').submit(function () {
                var url = $(this).attr('action');
                console.log('url:' + url);
                $.ajax({
                    method: "POST",
                    url: url,
                    data: $(this).serialize(),
                }).done(function (response) {
                    if (response.data) {
                        console.log('reload')
                        location.reload();
                    }
                });
                return false;
            })
        })
    </script>
{% endblock %}