{% extends 'connection/update.html' %}


{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        function fbLogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    window.location.reload(false);
                }
            }, {scope: 'manage_pages'});
        }

        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                user_access_token = response.authResponse.accessToken;
                console.log("no")
                console.log(user_access_token)
            } else if (response.status === 'not_authorized') {
                $('#btnLogin').show();
            } else {
                $('#btnLogin').show();
            }
        }

        $(document).ready(function () {
            $('div#div_id_token').css('display', 'none');
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1731160853833926',
                    cookie: true,  // enable cookies to allow the server to access
                    // the session
                    xfbml: true,  // parse social plugins on this page
                    version: 'v2.6' // use graph api version 2.5
                });
                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });
            }

            $('button#btnLogin').click(function () {
                fbLogin();
            });


            $('button#btnUpdateConnection').click(function () {
                $('input#id_token').val(user_access_token);
                $('form#formUpdateConnection').submit();
            });
            fbLogin();
        })
    </script>
{% endblock %}