{% extends 'wizard/async/action_specification.html' %}

{% block scripts %}
    {{ block.super }}

    <script type="application/javascript">
        var load_options = true;

        $(document).on('click', 'select[data-name=account]', function () {
            var select = $(this);
            if (load_options == true) {
                var url = "{% url 'wizard:async_instagram_accounts' %}";
                $.ajax({
                    method: "POST",
                    url: url,
                    data: {connection_id: {% if request.session.source_connection_id %}{{ request.session.source_connection_id }}{% elif request.session.target_connection_id %}{{ request.session.target_connection_id }}{% endif %}}
                }).done(function (response) {
                    $(select).html(response);
                    load_options = false;
                });
            }
        });
    </script>
{% endblock %}
