{% extends 'wizard/async/action_specification.html' %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function () {
            var load_sobjects = true;
            var load_events = true;

            $(document).on('click', 'select[data-name=sobject]', function () {
                var select = $(this);
                if (load_sobjects == true) {
                    var url = "{% url 'wizard:async_salesforce_sobjects' %}";
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: {connection_id: {% if request.session.source_connection_id %}{{ request.session.source_connection_id }}{% elif request.session.target_connection_id %}{{ request.session.target_connection_id }}{% endif %}}
                    }).done(function (response) {
                        $(select).html(response);
                        load_sobjects = false;
                    });
                }
            });

            $(document).on('click', 'select[data-name=event]', function () {
                var select = $(this);
                if (load_events == true) {
                    var url = "{% url 'wizard:async_salesforce_events' %}";
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: {connection_id: {% if request.session.source_connection_id %}{{ request.session.source_connection_id }}{% elif request.session.target_connection_id %}{{ request.session.target_connection_id }}{% endif %}}
                    }).done(function (response) {
                        $(select).html(response);
                        load_events = false;
                    });
                }
            });
        })
    </script>
{% endblock %}