{% load static i18n %}
<div id="logout-modal" class="modal fade" role="dialog">
    <div class="gp-modal modal-dialog">
        <div class="modal-content3">
            <div class="image-wrapper">
                <div class="image">
                    <img src="{% static 'img/console/g6630.png' %}" width="128"
                         height="128">
                </div>
            </div>
            <div class="text1">
                ¡{% trans 'Adios' %} {{ request.user.get_full_name|default:request.user.email }}!
            </div>
            <div class="text2">
                {% trans '¿Estás seguro que quieres salir de sesión?' %}
            </div>
            <button type="button" class="button-create gray" data-dismiss="modal">
                {% trans 'Cancelar' %}
            </button>
            <button type="button" id="logout" class="button-create">
                {% trans 'Cerrar Sesión' %}
            </button>
        </div>
    </div>
</div>