<form method="POST" action="{% url 'landing:signup' %}" autocomplete="off" id="signup_form">
    {% csrf_token %}
    <div class="col-md-12{% if signup_form.first_name.errors %} has-error{% endif %}">
        {{ signup_form.first_name }}
        {% for error in signup_form.first_name.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-md-12{% if signup_form.last_name.errors %} has-error{% endif %}">
        {{ signup_form.last_name }}
        {% for error in signup_form.last_name.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-md-12{% if signup_form.email.errors %} has-error{% endif %}">
        {{ signup_form.email }}
        {% for error in signup_form.email.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-md-12{% if signup_form.password1.errors %} has-error{% endif %}">
        {{ signup_form.password1 }}
        {% for error in signup_form.password1.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-md-12 padding-checkbox">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" name="notification">
                <span class="glyphicon glyphicon-ok"></span>
            </label>
        </div>
        <span class="checkbox-form">Enviarme notificaciones a mi correo</span>
    </div>
    <div class="col-md-12">
        <button type="submit" class="button_form">Regístrate</button>
    </div>
</form>