{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block body %}
    <div class="box-tool animated fadeInDown">
        <div class="box-title">
            <h2>connection list</h2>
        </div>
        <ul class="list-connector">
            {% for connection in object_list %}
                <li style="display: block;">
                    {{ connection.name }}
                </li>
            {% endfor %}
        </ul>
        <div>
            new connection
        </div>
    </div>
{% endblock %}