.contactus-banner {
    background: url("../../img/landing/icons2.png") no-repeat right bottom;
}

.contactus-banner img {
    float: left;
    margin: -0.3% 0 0 6.3%;
    position: relative;
    z-index: -1;
}

.contactus-text {
    margin-top: 9%;
    line-height: 5em;
    text-align: center;
    position: absolute;
}

.contactus-text .text1 {
    font-family: 'Sansation';
    font-weight: 700;
    font-size: 4.80em;
    color: #005ca7;
}

.contactus-text .text2 {
    font-family: 'Sansation Light';
    font-size: 4.80em;
    color: #9d9ba1;
}

.contactus-footer {
    background-color: #005ca7;
}

.contactus-footer .text-contact {
    color: white;
    font-family: "Sansation Light";
    font-size: 5.2em;
    margin-top: 15.5%;
    padding-left: 30.9%;
}

.contactus-footer .text-contact1 {
    color: #09DE8D;
    font-family: "Sansation";
    font-size: 1.3em;
    margin-top: -0.9%;
    padding-left: 31%;
}

.contactus-footer .text-contact2 {
    color: white;
    font-family: "Sansation Light";
    font-size: 1.4em;
    line-height: 122%;
    margin-top: 3.8%;
    padding-left: 30.9%;
    padding-right: 6%;
}

.contactus-footer .img-direction {
    margin-top: 6.6%;
    padding-left: 31%;
}

.contactus-footer .img-phone {
    margin-top: 6.4%;
    padding-left: 1.7%;
}

.contactus-footer .img-email {
    margin-left: -2%;
    margin-top: 7.5%;
}

.text-direction {
    color: white;
    font-family: "Sansation";
    font-size: 0.9em;
    line-height: 124%;
    margin-left: 26%;
    margin-top: -17.1%;
}

.text-phone {
    color: white;
    font-family: "Sansation";
    font-size: 1.1em;
    margin-left: 27%;
    margin-top: -15%;
}

.text-email {
    color: white;
    font-family: "Sansation";
    font-size: 1.1em;
    margin-left: 20%;
    margin-top: -8%;
}

.contactus-footer .nets {
    margin-top: 8%;
    padding-left: 20.7%;
}

.contactus-footer .nets .icon-facebook {
    padding-left: 0.6%;
}

.form-contact {
    margin-bottom: 8%;
    margin-top: 10.5%;
}

.form-contact .form-group label {
    color: white;
    font-family: "Sansation";
    font-size: 1.7em;
}

.form-contact .form-group input {
    border: none;
    border-radius: 17px 18px 15px 17px;
    color: #9D9BA1;
    font-family: "Sansation";
    font-size: 1.5em;
    height: 5.5%;
    margin-bottom: -0.7%;
    margin-top: 0.9%;
    padding: 0 1%;
    width: 49.2%;
}

.form-contact .form-group textarea {
    border: none;
    border-radius: 17px 18px 15px 17px;
    color: #9D9BA1;
    font-family: "Sansation";
    font-size: 1.5em;
    margin-bottom: -0.7%;
    margin-top: 0.9%;
    max-height: 13%;
    max-width: 83.6%;
    min-height: 13%;
    min-width: 83.6%;
    padding: 0 1%;
}

.form-contact .form-group .inline button {
    background-color: #09DE8D;
    border-radius: 17px 19px 18px 17px;
    border-style: inherit;
    color: #005CA5;
    font-family: "Sansation Bold";
    font-size: 2.7em;
    margin-top: 4.7%;
    width: 29.2%;
}

@media only screen and (max-width:1600px) {
    .contactus-text {
        margin-left: 8%;
    }
}

@media only screen and (max-width:1024px) {
    .contactus-banner img {
        margin: -0.3% 0 0 -1.7%;
    }

    .contactus-text .text1 {
        font-size: 3.8em;
    }

    .contactus-text .text2 {
        font-size: 3.8em;
    }

    .contactus-text {
        margin-left: 18%;
        margin-top: 5%;
    }
}