.contactus-banner {
    background: url("../../img/landing/icons2.png") no-repeat right bottom;
}

.contactus-banner img {
    margin-left: 30%;
}

.contactus-text {
    margin: 12% 0 0 0;
    line-height: 5em;
    text-align: center;
}

.contactus-text .text1 {
    font-family: 'Sansation';
    font-weight: 700;
    font-size: 4.80em;
    color: #005ca7;
}

.contactus-text .text2 {
    font-family: 'Sansation Light';
    /*font-weight: 300;*/
    font-size: 4.80em;
    color: #9d9ba1;
}

.contactus-footer {
    background-color: #005ca7;
}

.contactus-footer .text-contact {
    color: white;
    font-family: "Sansation Light";
    font-size: 6em;
    margin-top: 18%;
    padding-left: 20.3%;
}

.contactus-footer .text-contact1 {
    color: #09DE8D;
    font-family: "Sansation";
    font-size: 1.5em;
    margin-top: -1%;
    padding-left: 20.4%;
}

.contactus-footer .text-contact2 {
    color: white;
    font-family: "Sansation Light";
    font-size: 1.5em;
    line-height: 134%;
    margin-top: 4.3%;
    padding-left: 20.4%;
    padding-right: 14%;
}

.contactus-footer .img-direction {
    margin-top: 7.1%;
    padding-left: 20.2%;
}

.contactus-footer .img-phone {
    margin-top: 7%;
    padding-left: 2.2%;
}

.contactus-footer .img-email {
    margin-left: -2%;
    margin-top: 7.5%;
}

.text-direction {
    color: white;
    font-family: "Sansation";
    font-size: 1.1em;
    line-height: 124%;
    margin-left: 28%;
    margin-top: -19%;
}

.text-phone {
    color: white;
    font-family: "Sansation";
    font-size: 1.1em;
    margin-left: 27%;
    margin-top: -15%;
}

.text-email {
    color: white;
    font-family: "Sansation";
    font-size: 1.1em;
    margin-left: 20%;
    margin-top: -8%;
}

.contactus-footer .nets {
    margin-top: 8%;
    padding-left: 20.7%;
}

.contactus-footer .nets .icon-facebook {
    padding-left: 0.6%;
}

.form-contact {
    margin-bottom: 8%;
    margin-top: 10.5%;
}

.form-contact .form-group label {
    color: white;
    font-family: "Sansation";
    font-size: 1.7em;
}

.form-contact .form-group input {
    border: none;
    border-radius: 17px 18px 15px 17px;
    color: #9D9BA1;
    font-family: "Sansation";
    font-size: 1.5em;
    height: 5.5%;
    margin-bottom: -0.7%;
    margin-top: 0.9%;
    padding: 0 1%;
    width: 49.2%;
}

.form-contact .form-group textarea {
    border: none;
    border-radius: 17px 18px 15px 17px;
    color: #9D9BA1;
    font-family: "Sansation";
    font-size: 1.5em;
    margin-bottom: -0.7%;
    margin-top: 0.9%;
    max-height: 13%;
    max-width: 83.6%;
    min-height: 13%;
    min-width: 83.6%;
    padding: 0 1%;
}

.form-contact .form-group .inline button {
    background-color: #09DE8D;
    border-radius: 17px 19px 18px 17px;
    border-style: inherit;
    color: #005CA5;
    font-family: "Sansation Bold";
    font-size: 2.7em;
    margin-top: 4.7%;
    width: 29.2%;
}

@media only screen and (max-width:1600px) {
    .text-direction {
        font-size: 1em;
        margin-top: -23%;
    }

    .text-phone {
        font-size: 1em;
        margin-top: -19%;
    }

    .text-email {
        font-size: 1em;
        margin-top: -10%;
    }
}