.slide-item {
    padding: 0;
}

.slide-caption {
    color: white;
    font-family: 'Sansation';
    font-size: 4.4em;
    left: 13.9%;
    line-height: 89%;
    text-align: justify;
    text-shadow: inherit;
    top: 8.2%;
}

.slide-text-light {
    font-family: 'Sansation Light';
}

.slide-color-aqua {
    color: #00E08F;
}

.slide-control {
    background-image: none !important;
}

.slide-arrow {
    position: absolute;
    top: 44.5%;
}

.not-bg {
    background-image: inherit !important;
}

.bg-form {
    background-color: #F1F2F4;
    border-radius: 40px 40px 51px 51px;
    -moz-border-radius: 40px 40px 51px 51px;
    -webkit-border-radius: 40px 40px 51px 51px;
    left: 65%;
    padding: 1.9% 0 0 0.4%;
    position: absolute;
    right: 16%;
    top: 27.6%;
}

.input-form {
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #F1F2F4;
    color: #9E9BA2;
    font-family: 'Sansation';
    font-size: 1.5em;
    height: 45px;
    margin: 0 0 19px 11px;
    padding-left: 22px;
    width: 91%;
}

.checkbox-form {
    color: black;
    font-family: 'Sansation';
    font-size: 1.1em;
}

.padding-checkbox {
    padding-left: 7.9%;
}

.button_form {
    background-color: #005CA7;
    border-radius: 14px;
    border-width: inherit;
    color: white;
    font-family: 'Sansation';
    font-size: 1.9em;
    margin: 8.3% 0 14.3% 3.8%;
    width: 90.5%;
}

.index-space1 {
    margin-top: 9%;
}

.index-space2 {
    margin-top: 1%;
}

.index-space3 {
    margin-top: 1.1%;
}

.index-space4 {
    margin-top: 2.5%;
}

.index-space5 {
    margin-top: 3.2%;
}

.index-space7 {
    margin-top: 2.5%;
}

.index-space8 {
    margin-top: 5.2%;
}

.text-what {
    color: #9E9BA2;
    font-family: 'Sansation';
    font-size: 3.8em;
}

.text-p {
    color: #727277;
    font-family: 'Sansation Light';
    font-size: 1.8em;
    line-height: 154%;
    padding: 1.7% 2% 0;
}

.hr-separator {
    border-bottom: 2px solid #E9EAED;
    border-top: transparent;
    width: 75%;
}

.text-two {
    color: #005CA7;
    font-family: 'Sansation';
    font-size: 2.3em;
    margin-top: -0.9%;
}

.text-bullet {
    color: #727277;
    font-family: 'Sansation Light';
    font-size: 1.8em;
    padding-top: 4.0%;
}

.text-bullet1 {
    font-family: 'Sansation Light';
    font-size: 1.8em;
    color: #727277;
    line-height: 105%;
    margin-bottom: 9.5%;
    padding-top: 1.8%;
}

.banner {
    position: relative;
    width: 100%;
    z-index: 1;
}

.text-connect {
    background: url("../../img/landing/bg_banner1.png") repeat-x #09DF8E;
    color: white;
    font-family: 'Sansation Bold';
    font-size: 3.6em;
    padding: 1.6% 0 1.8% 0;
}

.text-us {
    color: #727277;
    font-family: 'Sansation Light';
    font-size: 2.8em;
}

.list-item {
    text-align: center;
    margin: 5% 0 10% 0;
}

.list-item .divider {
    width: 97%;
    height: 1px;
    display: inline-block;
    background-color: #E5E6E9;
    margin: 11.4% 0 2.1% 0;

}

.list-item .name1 {
    font-family: "Sansation Light";
    font-size: 1.6em;
    color: #727277;
}

.bg_comments {
    background: url("../../img/landing/icons3.png") no-repeat scroll top right #005CA6;
    margin-top: 1.8%;
    padding-bottom: 2.5%;
}

.title-comments {
    color: white;
    font-family: "Sansation Bold";
    font-size: 3.6em;
    margin-bottom: 5.1%;
    margin-top: 2.4%;
}

.hr-comments {
    border-bottom: #00E08F solid 6px;
    border-top: transparent;
    margin: -0.4% 0 0 40.4%;
    width: 14.7%;
}

.list-wrapper1 {
    margin-bottom: 4.5%;
    margin-top: 4.5%;
}

.name11 {
    color: white;
    font-family: "Sansation";
    font-size: 1.2em;
    margin-top: 0.6%;
}

.selected_page {
    color: #005CA7 !important;
    font-family: 'Sansation Bold' !important;;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.carousel-control {
    width: 6%;
}

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}

.btn {
    padding: 3px 3px;
}

.container.create {
    width: 1250px;
}

.facebook {
    margin: 24% 0 11.7% 0;
}

.generator {
    margin: 15% 0 21% 0;
}

.gmail {
    margin: 21.8% 0 15.2% 0;
}

.border_process {
    border-left: #E9EAED solid 2px;
    border-right: #E9EAED solid 2px;
}

.bg_login{
    background: url("../../img/landing/icons4.png") no-repeat scroll 0 0;
    left: 52.6%;
    padding: 4.8% 7% 6% 5.1%;
    position: absolute;
    top: 23.2%;
}

.btn-login{
    background-color: #005CA5;
    border-radius: 38px 35px 34px 37px;
    border-width: inherit;
    color: white;
    font-family: 'Sansation';
    font-size: 4.2em;
    height: 89px;
    padding: 0;
    width: 372px;
}

.slide-other {
    height: auto !important;
}

@media only screen and (max-width:1600px) {
    .slide-caption {
        left: 8.9%;
    }

    .bg-form {
        right: 14%;
        top: 20.6%;
    }

    .list-item .name1 {
        font-size: 1.5em;
    }

    .bg_login {
        padding: 5.8% 7% 6% 6.1%;
        top: 18.2%;
    }
}

@media only screen and (max-width:1440px) {
    .slide-caption {
        left: 6.9%;
    }

    .bg-form {
        right: 12%;
        top: 17.6%;
    }

    .list-item .name1 {
        font-size: 1.4em;
    }

    .name11 {
        padding-left: 8%;
    }

    .bg_login {
        padding: 7% 7% 6% 7.4%;
        top: 15.2%;
    }
}

@media only screen and (max-width:1024px) {
    .slide-arrow {
        top: 35.5%;
    }

    .slide-caption {
        font-size: 3.2em;
    }

    .bg-form {
        left: 63%;
        right: 5%;
        top: 13.4%;
    }

    .input-form {
        font-size: 1.3em;
        height: 35px;
        margin: 0 0 9px 11px;
    }

    .button_form {
        margin: 8.3% 0 9.3% 3.8%;
    }

    .container.create {
        width: 1024px;
    }

    .text-bullet1 {
        padding-left: 5% !important;
    }

    .list-item .name1 {
        font-size: 1.3em;
    }

    .name11 {
        padding-left: 26%;
    }

    .btn-login {
        font-size: 3.2em;
        height: inherit;
        width: 116%;
    }

    .bg_login {
        background: url(../../img/landing/icons4x1024.png) no-repeat scroll 0 0;
        left: 50.6%;
        padding: 8.8% 15% 9% 9.1%;
        position: absolute;
        top: 12.2%;
    }
}