.slide-item {
    padding: 0;
}

.slide-caption {
    color: white;
    font-family: 'Sansation';
    font-size: 4.4em;
    left: 13.9%;
    line-height: 89%;
    text-align: justify;
    text-shadow: inherit;
    top: 8.2%;
}

.slide-text-light {
    font-family: 'Sansation Light';
}

.slide-color-aqua {
    color: #00E08F;
}

.slide-control {
    background-image: none !important;
}

.slide-arrow {
    position: absolute;
    top: 44.5%;
}

.not-bg {
    background-image: inherit !important;
}

.bg-form {
    background-color: #F1F2F4;
    border-radius: 40px 40px 51px 51px;
    -moz-border-radius: 40px 40px 51px 51px;
    -webkit-border-radius: 40px 40px 51px 51px;
    left: 65%;
    padding: 1.9% 0 0 0.4%;
    position: absolute;
    right: 16%;
    top: 18.6%;
}

.input-form {
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #F1F2F4;
    color: #9E9BA2;
    font-family: 'Sansation';
    font-size: 1.5em;
    height: 45px;
    margin: 0 0 19px 11px;
    padding-left: 22px;
    width: 91%;
}

.checkbox-form {
    color: black;
    font-family: 'Sansation';
    font-size: 1.1em;
}

.padding-checkbox {
    padding-left: 7.9%;
}

.button_form {
    background-color: #005CA7;
    border-radius: 14px;
    border-width: inherit;
    color: white;
    font-family: 'Sansation';
    font-size: 1.9em;
    margin: 8.3% 0 14.3% 3.8%;
    width: 90.5%;
}

.index-space1 {
    margin-top: 9%;
}

.index-space2 {
    margin-top: 1%;
}

.index-space3 {
    margin-top: 1.1%;
}

.index-space4 {
    margin-top: 2.5%;
}

.index-space5 {
    margin-top: 3.2%;
}

.index-space7 {
    margin-top: 2.5%;
}

.index-space8 {
    margin-top: 2.7%;
}

.text-what {
    color: #9E9BA2;
    font-family: 'Sansation';
    font-size: 3.8em;
}

.text-p {
    color: #727277;
    font-family: 'Sansation Light';
    font-size: 1.8em;
    line-height: 154%;
    padding: 1.7% 2% 0;
}

.hr-separator {
    border-bottom: 2px solid #E9EAED;
    border-top: transparent;
    width: 75%;
}

.text-two {
    color: #005CA7;
    font-family: 'Sansation';
    font-size: 2.3em;
    margin-top: -0.9%;
}

.text-bullet {
    color: #727277;
    font-family: 'Sansation Light';
    font-size: 1.8em;
    padding-top: 4.0%;
}

.text-bullet1 {
    font-family: 'Sansation Light';
    font-size: 1.8em;
    color: #727277;
    line-height: 105%;
    margin-bottom: 9.5%;
    padding-top: 1.8%;
}

.banner {
    position: relative;
    width: 100%;
    z-index: 1;
}

.text-connect {
    background: url("../../img/landing/bg_banner1.png") repeat-x #09DF8E;
    color: white;
    font-family: 'Sansation Bold';
    font-size: 3.6em;
    padding: 1.6% 0 1.8% 0;
}

.text-us {
    color: #727277;
    font-family: 'Sansation Light';
    font-size: 2.8em;
}

.list-item {
    text-align: center;
    margin: 5% 0 10% 0;
}

.list-item .divider {
    width: 97%;
    height: 1px;
    display: inline-block;
    background-color: #E5E6E9;
    margin: 11.4% 0 2.1% 0;

}

.list-item .name1 {
    font-family: "Sansation Light";
    font-size: 1.6em;
    color: #727277;
}

.bg_comments {
    background: url("../../img/landing/icons3.png") no-repeat scroll top right #005CA6;
    margin-top: 1.8%;
    padding-bottom: 2.5%;
}

.title-comments {
    color: white;
    font-family: "Sansation Bold";
    font-size: 3.6em;
    margin-bottom: 5.1%;
    margin-top: 2.4%;
}

.hr-comments {
    border-bottom: #00E08F solid 6px;
    border-top: transparent;
    margin: -0.4% 0 0 40.4%;
    width: 14.7%;
}

.list-wrapper1 {
    margin-bottom: 4.5%;
    margin-top: 4.5%;
}

.name11 {
    color: white;
    font-family: "Sansation";
    font-size: 1.1em;
    margin-top: 3.6%;
    padding-left: 0;
    text-align: justify;
}

.selected_page {
    color: #005CA7 !important;
    font-family: 'Sansation Bold' !important;;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.carousel-control {
    width: 6%;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}

.btn {
    padding: 3px 3px;
}

.container.create {
    width: 1250px;
}

.facebook {
    margin: 24% 0 11.7% 0;
}

.generator {
    margin: 15% 0 21% 0;
}

.gmail {
    margin: 21.8% 0 15.2% 0;
}

.border_process {
    border-left: #E9EAED solid 2px;
    border-right: #E9EAED solid 2px;
}

.bg_login {
    background: url("../../img/landing/icons4.png") no-repeat scroll 0 0;
    left: 52.6%;
    padding: 4.8% 7% 6% 5.1%;
    position: absolute;
    top: 15.1%;
}

.btn-login {
    background-color: #005CA5;
    border-radius: 38px 35px 34px 37px;
    border-width: inherit;
    color: white;
    font-family: 'Sansation';
    font-size: 4.2em;
    height: 89px;
    padding: 0;
    width: 372px;
}

.slide-other {
    height: auto !important;
}

.slide-caption-blog {
    color: #9B999F;
    font-family: "Sansation Light";
    font-size: 4.3em;
    left: 6.1%;
    line-height: 122%;
    text-align: left;
    text-shadow: inherit;
    top: 11.7%;
}

.slide-caption-blog hr {
    border-bottom: 6px solid #005CA5;
    border-top-color: transparent;
    margin: 1% 0 0.4% 0.3%;
    width: 44.8%;
}

.slide-caption-blog .minus {
    font-size: 0.78em;
}

.slide-caption-blog button.button-blog {
    background: #09DE8D;
    border-radius: 16px;
    border-width: inherit;
    color: #005CA5;
    font-family: "Sansation";
    font-size: 0.5em;
    line-height: normal;
    margin: 0.6% 0 0 0.3%;
    padding: 0.45% 3%;
    text-decoration: none;
}

img.img-comments {
    margin-bottom: 50%;
}

.morecontent span {
    display: none;
}

a.morelink {
    color: #00E08F;
    text-decoration: underline;
}

@media only screen and (max-width: 1600px) {
    .slide-caption {
        left: 8.9%;
    }

    .bg-form {
        right: 14%;
        top: 15.6%;
    }

    .list-item .name1 {
        font-size: 1.5em;
    }

    .bg_login {
        padding: 5.8% 7% 6% 6.1%;
        top: 18.2%;
    }

    .hr-comments {
        margin: -0.4% 0 0 39%;
        width: 16.9%;
    }

    .name11 {
        margin-top: 2.6%;
        padding-left: 5%;
        text-align: left;
    }
}

@media only screen and (max-width: 1440px) {
    .slide-caption {
        left: 6.9%;
    }

    .bg-form {
        right: 12%;
        top: 12.6%;
    }

    .list-item .name1 {
        font-size: 1.4em;
    }

    .name11 {
        padding-left: 1%;
    }

    .bg_login {
        padding: 7% 7% 6% 7.4%;
        top: 15.2%;
    }

    .hr-comments {
        margin: -0.4% 0 0 37.7%;
        width: 18.9%;
    }

    .not-padding {
        padding: 0;
    }

    .name11 {
        margin-top: 1.6%;
        padding-bottom: 10%;
        text-align: justify;
    }
}

@media only screen and (max-width: 1024px) {
    .slide-arrow {
        top: 35.5%;
    }

    .slide-caption {
        font-size: 3.2em;
    }

    .bg-form {
        left: 63%;
        right: 5%;
        top: 10.9%;
    }

    .input-form {
        font-size: 1.3em;
        height: 35px;
        margin: 0 0 9px 11px;
    }

    .button_form {
        margin: 8.3% 0 9.3% 3.8%;
    }

    .container.create {
        width: 1024px;
    }

    .text-bullet1 {
        padding-left: 5% !important;
    }

    .list-item .name1 {
        font-size: 1.3em;
    }

    .name11 {
        font-size: 1em;
        line-height: 108%;
        margin-top: 1.6%;
        padding-left: 0%;
    . text-align: left;
    }

    .btn-login {
        font-size: 3.2em;
        height: inherit;
        width: 116%;
    }

    .bg_login {
        background: url(../../img/landing/icons4x1024.png) no-repeat scroll 0 0;
        left: 50.6%;
        padding: 8.8% 15% 9% 9.1%;
        position: absolute;
        top: 12.2%;
    }

    .slide-caption-blog {
        font-size: 3.8em;
        top: 10.7%;
    }

    .bg_comments {
        background: url(../../img/landing/icons3x1024.png) no-repeat scroll top right #005CA6;
    }

    .hr-comments {
        margin: -0.4% 0 0 32.4%;
        width: 26.9%;
    }

    .title-comments {
        color: white;
        font-family: "Sansation Bold";
        font-size: 3.6em;
        margin-bottom: 6.1%;
        margin-top: 3.9%;
    }

    .not-padding {
        padding: 0;
    }

    img.img-comments {
        margin-bottom: 50%;
        height: 66%;
    }
}

@media only screen and (min-width: 1024px) {
    .testing {
        display: table;
        content: "";
    }
}

@media only screen and (max-width: 768px) {
    .slide-caption {
        font-size: 2.9em;
        left: 2.6%;
        top: -1.8%;
    }

    .button_form {
        font-size: 1.6em;
        margin: 2.3% 0 2.3% 3.8%;
    }

    .bg-form {
        left: 64%;
        right: 3%;
        top: 5%;
    }

    .index-space1 {
        margin-top: 6%;
    }

    img.logo-what {
        width: 11%;
    }

    .text-what {
        font-size: 3.5em;
    }

    .text-p {
        font-size: 1.5em;
    }

    .hr-separator {
        width: 94%;
    }

    .container.create {
        width: auto;
    }

    .text-two {
        font-size: 2em;
    }

    .facebook {
        margin: 0 0 9% 0;
    }

    .text-bullet {
        padding-t7op: 5%;
    }

    .border_process {
        border-bottom: #E9EAED solid 2px;
        border-left: none;
        border-right: none;
        border-top: #E9EAED solid 2px;
    }

    img.height_bullet1, img.height_bullet3 {
        margin-top: 40%;
    }

    .generator {
        margin: 9% 0 9% 0;
    }

    img.height_bullet2 {
        margin-top: 60%;
    }

    .text-bullet1 {
        padding-left: 4% !important;
        padding-top: 3.8%;
    }

    .gmail {
        margin: 9% 0 15% 0;
    }

    .text-connect {
        font-size: 3.3em;
    }

    .title-comments {
        padding-left: 4%;
        text-align: left;
    }

    .hr-comments {
        margin: -0.4% 0 0 9.4%;
        width: 34.9%;
    }

    .title-comments {
        margin-bottom: 7.3%;
        margin-top: 5.1%;
    }

    .list-item1 .padding-sm {
        padding: 0 8.5%;
    }

    .bg_login {
        background: url(../../img/landing/icons4x768.png) no-repeat scroll 0 0;
        left: 52.6%;
        padding: 7.1% 15% 9% 7.1%;
        top: 22.2%;
    }

    .btn-login {
        font-size: 2.6em;
        width: 116%;
    }

    img.img-comments {
        height: 11%;
    }

    .name11 {
        height: 20%;
        padding-bottom: 0;
    }
}
