.steps-title {
    background: url("../../img/landing/bg_banner2.png") repeat-x 0 0;
    margin-top: 1.4%;
}

.steps-title .title {
    color: white;
    font-family: 'Sansation';
    font-size: 4.8em;
    margin-bottom: 1.7%;
    margin-top: 1.5%;
}

img.steps-img{
    height: 166.5%;
    margin-bottom: 7.2%;
    margin-top: 6.4%;
}

@media only screen and (max-width:1440px) {
    img.steps-img {
        height: 150.5%;
    }
}

@media only screen and (max-width:1024px) {
    .steps-title .title {
        font-size: 3.8em;
    }

    img.steps-img {
        height: 118.5%;
    }
}

@media only screen and (max-width:768px) {
    img.steps-img {
        height: 92%;
    }

    .steps-title .title {
        font-size: 3.5em;
        margin-top: 1.7%;
    }
}

/* Iphone 6 Plus - Portrait */
@media only screen and (max-width:414px) and (orientation: portrait) {
    .steps-title {
        margin-top: 3.4%;
    }

    .steps-title .title {
        font-size: 1.6em;
        padding: 6% 0 6% 0;
    }

    img.steps-img {
        height: 204%;
        margin-top: 3.4%;
    }
}
