.ayuda-gp-index{
    /*background: url("../../img/landing/plantilla.png") no-repeat scroll 50% 20px;*/
    /*height: 3880px;*/
}

.bg_page{ background-color: white; }

/* Header */
.nav_spaces{ margin: 20px 0 34px 0; }
.logo_header{
    display: inherit;
    margin-left: 96px;
}
.text_menu{ padding-top: 23px; }
.text_menu a{
    color: #9D9BA1;
    font-family: 'Sansation';
    font-size: 1.75em;
    letter-spacing: 0.3px;
    text-decoration: none;
}
.padding_nav_nosotros{ padding-left: 37px; }
.padding_nav_apps{ padding-left: 26px; }
.padding_nav_ingresar, .padding_nav_contacto{ padding-left: 32px; }

/* Footer */
.bg_footer{
    background-color: black;
    color: #00E08F;
    font-family: 'Sansation';
    font-size: 1.55em;
    letter-spacing: -0.62px;
    padding: 25px 0 30px 0;
}
.bg_footer a{
    color: #00E08F;
    text-decoration: none;
}
footer{ background: transparent; }
