.terms-title .title {
    color: #9C9AA0;
    font-family: 'Sansation';
    font-size: 3.2em;
    margin-top: 4.6%;
}

.terms-title hr.hr_terms {
    border-bottom: #09DF8E solid 4px;
    border-top: transparent;
    margin: -0.3% 0 0 36.6%;
    width: 26.8%;
}

.terms-text {
    color: #9C9AA0;
    font-family: 'Sansation Light';
    font-size: 1.7em;
    letter-spacing: -0.1px;
    line-height: 120%;
    margin-bottom: 2.8%;
    margin-top: 2.8%;
    text-align: justify;
}

.terms-subtitle {
    font-family: 'Sansation';
    font-weight: bold;
}