{% extends 'layouts/site_base.html' %}
{% load static %}

{% block content %}
    <h1>Plug test.</h1>

    {% if plug_type == 'source' %}
        {% for o in object_list %}
            <div>
                {{ o.name }}: {{ o.value }}
            </div>
        {% empty %}
            There's no items. the Test Failed.
            <br>
            Please verify your source has at the very least 1 entry.
            <form method="post" action="">
                {% csrf_token %}
                <button>Test again</button>
            </form>
        {% endfor %}
        <br/>
        <a href="{% url 'connection:connector_list' type='target' %}" style="color:blue;font-size: 16px;">Continue (after test)</a>
    {% elif plug_type == 'target' %}
        <p>Field List:</p>
        {% for o in object_list %}
            <p>{{ o }}</p>
        {% empty %}
            There's no fields to work with. the Test Failed.
            <br>
            Please verify your target has a working connection.
            <form method="post" action="">
                {% csrf_token %}
                <button>Test again</button>
            </form>
        {% endfor %}
        {% if request.session.gear_id != None %}
            <a href="{% url 'gear:map' gear_id=request.session.gear_id %}">Continue (after
                test)</a>
        {% endif %}
    {% endif %}
{% endblock %}