<div class="col-md-4">
    {% block content %}
    Cuentas:
    <br />
    {{ c.related_connection.name }}
</div>
<div class="col-md-4">
    Estado:
    <br />
    {% if c.is_active == True%}
        <i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;
    {% else %}
        <i class="fa fa-minus-square" aria-hidden="true"></i>
    {% endif %}
</div>
<div class="col-md-4">
    Acción:
    <br />
    <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i></a>
    <a class="toggle-gear-btn" href="#">
        {% if gear.is_running %}
            <i class="fa fa-pause" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-play" aria-hidden="true"></i>
        {% endif %}
        {% if c.is_active %}
            <a href="manage"><i class="fa fa-power-off" aria-hidden="true"></i></a>
        {% else %}
            <a href="#"><i class="fa fa-power-off" aria-hidden="False"></i></a>
        {% endif %}
    </a>
{% endblock %}
</div>