{% load static %}

<div class="gp-modal modal-alternative" style="display: none">
    <div class="close-button">
        <img src="{% static 'img/console/g1688.png' %}" width="50">
    </div>
    <div class="modal-content2">
        <div class="title">
            Has escogido <span style="font-family: 'Sansation Bold'">Facebook</span>
        </div>
        <div class="text">
            No existe ningún tipo de conexión
        </div>
        <div class="button">
            <div class="wrapper">
                Crear Conexión
            </div>
        </div>
    </div>
</div>