{% extends 'connection/create.html' %}

{% block content %}
    <form id="formCreateConnection" class="create-connection-form form-horizontal" action=""
          method="post" autocomplete="off">
        <select id="site_id" name="site_id">
            {% for site in sites %}
                <option id="{{ site.0 }}">{{ site.1 }}</option>
            {% endfor %}
        </select>
        <a href="{{ authorization_url }}">MercadoLibre Auth</a>
        {% csrf_token %}
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        $("#site_id").change(function () {
            var url = "{% url 'connection:ajax_mercadolibre_post_site' %}";
            $.ajax({
                method: "POST",
                url: url,
                data: {site_id: $(this).find('option:selected').attr('id')}
            }).done(function (response) {
                console.log('POSTed')
            });
        });
    </script>
{% endblock %}
