{% extends 'commons/site_base.html' %}

{% block body %}
{{ data }}

<form method="post" action="{% url 'connection:ajax_update_facebook_token' pk=1 %}" id="update_token">
    <input id="facebook_token" type="hidden" name="token" value="">

</form>
<button id="btnLogin" onclick="">Facebook login</button>
{% endblock %}

{% block scripts %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

  var pageTokens = new Array();
  function statusChangeCallback(response) {
      if (response.status === 'connected') {
      getPages();
        $('#facebook_token').val(response.authResponse.accessToken);
        $('#update_token').submit();
      } else if (response.status === 'not_authorized') {
        $('#btnLogin').show();
      } else {
        $('#btnLogin').show();
      }
      globalVars = {
            accessToken: response.authResponse.accessToken
      };
      getPages();
  }

    $('form#update_token').submit(function(){
        $.ajax({method: "POST", url: "{% url 'connection:ajax_update_facebook_token' pk=1 %}", data:$(this).serialize(),})
        .done(function(response) {
            //console.log('LoginStatus: '+response);
        });
        return false;
  });
   function checkLoginState() {
     FB.getLoginStatus(function(response) {
       statusChangeCallback(response);
     });
   }

   window.fbAsyncInit = function() {
   FB.init({
     appId      : '1731160853833926',
     cookie     : true,  // enable cookies to allow the server to access
                         // the session
     xfbml      : true,  // parse social plugins on this page
     version    : 'v2.6' // use graph api version 2.5
   });

   FB.getLoginStatus(function(response) {
     statusChangeCallback(response);
   });

   };

   (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function fbLogin() {
     FB.login(function(response){
       if (response.authResponse) {
         window.location.reload(false);
       }
     }, {scope: 'manage_pages'});
   };

   function getPages() {
     FB.api('/me/accounts', function(response) {
       var pages = response.data;
       //Create and append select list
       var divPages = document.getElementById("divPages");
       var selectList = document.createElement("select");

       for (var i = 0, len = pages.length; i < len; i++) {
           var page      = pages[i];
           selectList.id = "list";
           //divPages.appendChild(selectList);

           var option    = document.createElement("option");
           option.value  = page.id;
           option.text   = page.name;
           //selectList.appendChild(option);

           pageTokens[i] = [page.id ,pages[i].access_token];
           console.log(pageTokens[i]);
       }
           $("#list").prepend("<option value='' selected='selected'>Selecciona una Pagina</option>");
     });

    $('#buttonActivate').click(function(){
        fbLogin();
    });
   }












</script>
{% endblock %}
