{% extends 'layouts/console_base.html' %}
{% load static i18n %}


{% block content %}
    <div class="row filters">
        <form method="POST" action="{% url 'gear:filters' pk=request.session.gear_id %}" autocomplete="off"/>
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="formset-list filter">
            <div class="title">
                <span>Filters</span>
            </div>

            {% for form in formset %}
                <div id="id-form-{{ forloop.counter }}" class="formset-form">
                    {{ form.id }}
                    {{ form.field_name.label_tag }}
                    {{ form.field_name }}
                    {{ form.option.label_tag }}
                    {{ form.option }}
                    {{ form.comparison_data.label_tag }}
                    {{ form.comparison_data }}
                    {{ form.is_active.label_tag }}
                    {{ form.is_active }}
                    {{ form.DELETE.label_tag }}
                    {{ form.DELETE }}
                </div>
            {% endfor %}
        </div>
        <br>

        <button type="button" id="btnAdd"> Add</button>
        <button type="submit"> Submit</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        var newForms = 0;
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input:not("button")').each(function () {
                console.log($(this))
                var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            if (newForms === 0) {
                $(newElement).append('<button type="button" class="removeClass"> Remove </button>');
                newForms += 1;
            }
        }

        $(document).ready(function () {
            $('#add_more').click(function () {

            });
            $(document).on("click", "button#btnAdd", function () {
                cloneMore('div.formset-form:last', 'filter');
            });
            $(document).on("click", "button.removeClass", function () {
                if (newForms > 0) {
                    newForms -= 1;
                }
                var type = 'filter';
                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                total--;
                $('#id_' + type + '-TOTAL_FORMS').val(total);
                $(this).parent().remove();
            });
            $(document).on("change", "select[name=option]", function () {
                console.log($(this).val(), ["5", "6"].indexOf($(this).val()) > -1)
                if (["5", "6"].indexOf($(this).val()) > -1) {
                    $(this).parent().find("input[type=text]").prop("disabled", true);
                } else {
                    $(this).parent().find("input[type=text]").prop("disabled", false);
                }
            })
        })


    </script>

{% endblock %}