{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block body %}
<div class="box-tool animated fadeInDown list-panel-control">
   <div class="box-title">
      <h2>gear list</h2>
   </div>
   <div class="panel clearfix">
      <h3>Control Panel</h3>
      <ul>
         {% for gear in object_list %}
         <li>
            <div class="name col-md-8 col-sm-6 col-xs-6">
               <p>{{ gear.name }}</p>
            </div>
            <div class="panel-control col-md-4 col-sm-6 col-xs-6">
               <p><a href="{% url 'gear:update' pk=gear.id %}" class="edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i>  Editar</a></p>
               <p><a href="{% url 'gear:map' gear_id=gear.id %}" class="mapping-btn"><i class="fa fa-link" aria-hidden="true"></i>  Start Mapping</a></p>
               <p><a href="{% url 'gear:delete' pk=gear.id %}" class="delete-btn"><i class="fa fa-trash" aria-hidden="true"></i>  Eliminar</a></p>
            </div>
         </li>
         {% empty %}
         <li class="empty-list">
            <div class="List-empty">
            <img src="/static/img/warning.png">
               <h1>You don't have any gears created</h1>
               <p>If you want to create your firts gear. Just click right <a href="/gear/create/">here</a></p>
            </div>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>
{% endblock %}