{% extends 'layouts/console_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row mapping">
        <form method="POST" action="" class="">

            <div class="title">
                <span>{% trans 'Mapeo' %}</span>
            </div>
            <div class="form">
                <div class="col-md-6">
                    {% for field in form %}
                        <div class="col-md-12 group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                </div>
                <div class="col-md-9">
                    <div class="col-md-12 group">
                        <button class="button-create" type="submit">{% trans 'Finalizar' %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.0/jquery-ui.min.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var availableTags = [{% for item in source_object_list %}'{{ item.0 }}',{% endfor %}];
            $('input').autocomplete({source: availableTags});
{#            $('input').autocomplete({source: [{ label: "Choice1", value: "value1" },]});#}
            {#            $('form div.form-group div input.form-control').removeAttr('required');#}
        })
    </script>
{% endblock %}