{% extends 'layouts/site_base.html' %}
{% load static %}
{% block content %}
    <h2>Send History</h2>
    <ul>
        {% for obj in object_list %}
            <li>{{ obj.connector_id }} {{ obj.connection }} {{ obj.date }}
                <ul>
                    <li><b>Sent</b>: {{ obj.sent }}</li>
                    <li><b>Response</b>: {{ obj.response }}</li>
                    <li><b>Identifier</b>: {{ obj.identifier }}</li>
                    {% for item in obj.data %}
                        <li>{{ item.name }} : {{ item.value }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}