{% extends 'layouts/console_base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>

    <style>
        b.text_red {
            color: white;
            background-color: red;
        }

        b.text_green {
            color: white;
            background-color: darkgreen;
        }
    </style>
    <br>
    <input type="hidden" id="retry_url" value="{% url 'gear:retry_send_history' %}">
    <form action="" method="POST">
        {% csrf_token %}
        <div class='col-md-2'>
            <div class=" form-group">
                <div class='input-group date' id='datepicker-from'>
                    {{ form.date_from }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-2'>
            <div class=" form-group">
                <div class='input-group date' id='datepicker-to'>
                    {{ form.date_to }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-2'>
            <div style=""></div>
            <div class="form-group">
                <div class='input-group' id='id_{{ form.order.label|lower }}'
                     data-order="{{ form.order.value|default_if_none:"asc" }}">
                    {{ form.order }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-arrow-{% if form.order.value == 'desc' %}down{% else %}up{% endif %}"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-2'>
            <div style=""></div>
            <div class="form-group">
                <div class='input-group' id='id_{{ form.sent.label|lower }}'>
                    {{ form.sent }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-check"></span>
                    </span>
                </div>
            </div>
        </div>
        <button class="btn col-md-1">Filter</button>
    </form>
    <h2>Send History</h2>
    <ul>
        {% for obj in object_list %}
            <li>
                <div class="history-item" data-history="{{ obj.id }}">
                    <div class="icon_{{ obj.connector_name|lower }}">
                        <img src="{% get_media_prefix %}connector/icon/{{ obj.connector_name|lower }}.png"
                             width="15" height="15">
                        {{ obj.date }}
                        <b class="{{ obj.sent|yesno:"text_green,text_red" }}">
                            {{ obj.sent|yesno:"succesfully sent,error" }}
                        </b>
                    </div>
                    {% if not obj.sent %}
                        <b class="resend">resend</b>
                    {% endif %}
                </div>
                <ul style="display:none;" data-show="false" data-history="{{ obj.id }}">
                    {% if obj.sent == False %}
                        <li><b>Response</b>: {{ obj.response }}</li>
                    {% endif %}
                    <li><b>Identifier</b>: {{ obj.identifier }}</li>
                    {% for item in obj.data %}
                        <li>{{ item.name }}: {{ item.value }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $('div.history-item').on('click', function (e) {
                var item_id = $(this).attr('data-history');
                var item_ul = $('ul[data-history=' + item_id + ']');
                var must_show = !($(item_ul).attr('data-show') === "true");
                $(item_ul).attr('data-show', must_show);
                if (must_show === true) {
                    $(item_ul).show();
                } else {
                    $(item_ul).hide();
                }
            });
            $('div#id_order span.input-group-addon').click(function (e) {
                var order = $(this).parent().attr('data-order');
                if (order.toLowerCase() == 'asc') {
                    order = 'desc';
                    var old_arrow = 'up';
                    var new_arrow = 'down';
                } else if (order.toLowerCase() == 'desc') {
                    order = 'asc';
                    var old_arrow = 'down';
                    var new_arrow = 'up';
                }
                $(this).parent().attr('data-order', order);
                $(this).parent().find('select').val(order);
                $(this).find('span').removeClass('glyphicon-arrow-' + old_arrow);
                $(this).find('span').addClass('glyphicon-arrow-' + new_arrow);
            });

            $('div#id_order select').on('change', function (e) {
                var order = $(this).val();
                $(this).parent().attr('data-order', order);
                console.log(order)
                if (order.toLowerCase() == 'asc') {
                    var old_arrow = 'down';
                    var new_arrow = 'up';
                } else if (order.toLowerCase() == 'desc') {
                    var old_arrow = 'up';
                    var new_arrow = 'down';
                }
                $(this).parent().find('span span').removeClass('glyphicon-arrow-' + old_arrow);
                $(this).parent().find('span span').addClass('glyphicon-arrow-' + new_arrow);
            });
        });

        $(function () {
            $('#datepicker-from input').datetimepicker({
                showTodayButton: true,
                format: "YYYY-MM-DD HH:mm"

            });
            $('#datepicker-to input').datetimepicker({
                useCurrent: false,
                showTodayButton: true,
                format: "YYYY-MM-DD HH:mm"
            });
            $("#datepicker-from input").on("dp.change", function (e) {
                $('#datepicker-to input').data("DateTimePicker").minDate(e.date);
            });
            $("#datepicker-to input").on("dp.change", function (e) {
                $('#datepicker-from input').data("DateTimePicker").maxDate(e.date);
            });
        });

        $('.resend').click(function () {
            var button = $(this);
            $.ajax({
                method: "POST",
                url: $('#retry_url').val(),
                data: {history_id: $(this).parent().data('history')}
            }).done(function (response) {
                if (response.data) {
                    button.text('sent');
                }
            });
            return false;
        })
    </script>
{% endblock %}
