{% extends 'layouts/console_base.html' %}

{% block content %}

    <h1>Tu Gear se ha creado exitosamente!</h1>


    <form method="POST" action="{% url 'gear:toggle' gear_id=request.session.gear_id %}">
        {% csrf_token %}
        Con el siguiente boton podrás activarlo.
        <button type="submit">Activate Gear</button>
    </form>

    <br/>
    <h2><a href="/dashboard">Dashboard</a></h2>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function () {
            $('form').on("submit", function (e) {
                console.log("voy a enviar");
                $.ajax({
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    method: 'POST'
                }).done(function (response) {
                    console.log(response);
                })
                e.stopPropagation();
                e.preventDefault();
            });

        })
    </script>
{% endblock %}
