{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% load widget_tweaks %}

{% block body %}
    <div>update gear</div>
    <div>
        <form class="create-gear-form form-horizontal" action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            {#            {% render_field form.name class+="form-control input-md" placeholder="Gear Name" %}#}
            {#            {% render_field form.source class+="form-control input-md" %}#}
            {#            {% render_field form.source class+="form-control input-md" %}#}
            <a href="{% url 'wizard:create_plug' plug_type='source' %}">create SOURCE plug</a>
            <a href="{% url 'wizard:create_plug' plug_type='target' %}">create TARGET plug</a>
            <button id="singlebutton" name="singlebutton">update name</button>
            {% if form.error %}
                <div class="error">{{ form.error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}