{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block body %}
<div class="box-tool animated fadeInDown">
   <div class="box-title">
      <h2>update gear</h2>
   </div>
   <div class="panel">
      <form class="create-gear-form form-horizontal" action="" method="post" autocomplete="off">
         {% csrf_token %}
         {{ form|as_bootstrap }}
         <button id="singlebutton" name="singlebutton">update name</button>
         {% if form.error %}
         <div class="error">{{ form.error }}</div>
         {% endif %}
      </form>
   </div>
</div>
{% endblock %}