{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block body %}
<div>new connection: {{ connection }}</div>
<div>
    <form class="create-connection-form form-horizontal" action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button id="singlebutton" name="singlebutton">Create connection</button>
        {% if form.error %}
        <div class="error">{{ form.error }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}