{% extends 'layouts/console_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content-body col-md-10 col-md-offset-1">
        <div class="row connection">
            <div class="title">
                <span>Creación de Conexión: {% block connector_name %}{{ connector_name }}{% endblock %}</span>
            </div>
            <form id="formCreateConnection" class="" action="" method="post" autocomplete="off" data-ajax="false">
                <div class="form">
                    <div class="col-md-9">
                        {% for field in form %}
                            <div class="col-md-6 group">
                                <label>{{ field.label_tag }}:</label>
                                {{ field }}
                                <div>{{ field.errors }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6 group">
                            <button class="button btn" type="submit" id="btnCreateConnection" disabled="disabled">
                                Crear Conexión
                            </button>
                            <button class="button btn" type="submit" id="btnTestConnection">
                                Test
                            </button>
                            <div id="connectionTestResult"></div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function () {
            $('button#btnTestConnection').click(function () {
                $('form#formCreateConnection').attr('action', "{% url 'connection:test' connector_id=connector_id %}");
                $('form#formCreateConnection').attr('data-ajax', true);
            });

            $('button#btnCreateConnection').click(function () {
                $('form#formCreateConnection').attr('action', "{% url 'connection:create' connector_id=connector_id %}");
                $('form#formCreateConnection').attr('data-ajax', false);
            });

            $('form#formCreateConnection').submit(function () {
                if ($(this).attr('data-ajax') == 'true') {
                    $.ajax({
                        method: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                    }).done(function (response) {
                        if (response.test == true) {
                            $('button#btnCreateConnection').prop("disabled", false);
                            $('div#connectionTestResult').html('Connection is valid.');
                        } else if (response.test == false) {
                            $('button#btnCreateConnection').prop("disabled", true);
                            $('div#connectionTestResult').html('Connection is invalid.');
                        } else {
                            $('button#btnCreateConnection').prop("disabled", true);
                            $('div#connectionTestResult').html('Unexpected error.');
                        }
                    });
                    return false;
                }
            });
        });
    </script>
{% endblock %}
