{% extends 'layouts/console_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="gp-modal modal-alternative alternative2">
        <div class="close-button">
            <img src="{% static 'img/console/g1688.png' %}" width="50">
        </div>
        <div class="modal-content2">
            <div class="title">
                ¡Felicitaciones!
            </div>
            <div class="text">
                Acabas de crear un gear exitosamente, ahora puedes ir al home de tu consola y ver como funciona.
            </div>
        </div>
    </div>
    <div class="content-body col-md-10 col-md-offset-1">
        <div class="row connection">
            <div class="title">
                <span>Mapeo</span>
            </div>
            <form>
                <div class="form">
                    <div class="col-md-6">
                        <div class="col-md-12 group">
                            <label>Nombre:</label>
                            <input type="text">
                        </div>
                        <div class="col-md-12 group">
                            <label>Area:</label>
                            <textarea></textarea>
                        </div>
                        <div class="col-md-12 group">
                            <div class="rail-radio">
                                <input type="radio">
                            </div>
                        </div>
                        <div class="col-md-12 group">
                            <div class="rail-select">
                                <div class="select-side">
                                    <i class="glyphicon glyphicon-menu-down blue"></i>
                                </div>
                                <select class="form-control">
                                    <option>Test 1</option>
                                    <option>Test 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 group">
                            <div class="rail-checkbox btn-group" data-toggle="buttons">
                                <label class="btn btn-success active">
                                    <input type="checkbox" autocomplete="off" checked>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6 group">
                            <button type="submit">
                                Finalizar
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function () {
            $('button#btnTestConnection').click(function () {
                $('form#formCreateConnection').attr('action', "{% url 'connection:test' connector_id=connector_id %}");
                $('form#formCreateConnection').attr('data-ajax', true);
            });

            $('button#btnCreateConnection').click(function () {
                $('form#formCreateConnection').attr('action', "{% url 'connection:create' connector_id=connector_id %}");
                $('form#formCreateConnection').attr('data-ajax', false);
            });

            $('form#formCreateConnection').submit(function () {
                if ($(this).attr('data-ajax') == 'true') {
                    $.ajax({
                        method: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                    }).done(function (response) {
                        if (response.test == true) {
                            $('button#btnCreateConnection').prop("disabled", false);
                            $('div#connectionTestResult').html('Connection is valid.');
                        } else if (response.test == false) {
                            $('button#btnCreateConnection').prop("disabled", true);
                            $('div#connectionTestResult').html('Connection is invalid.');
                        } else {
                            $('button#btnCreateConnection').prop("disabled", true);
                            $('div#connectionTestResult').html('Unexpected error.');
                        }
                    });
                    return false;
                }
            });
        });
    </script>
{% endblock %}