{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block body %}
<div class="box-tool animated fadeInDown">
   <div class="box-title">
      <h2>connector list</h2>
   </div>

   <div class="search-connetor">
   <div class="container-4">
      <input type="search" id="search" name="search" placeholder="search">
      <button class="icon"><i class="fa fa-search"></i></button>
   </div>
   </div>

   <ul class="list-connector">
      {% for connector in object_list %}
      <li>
      <div class="gr_{{connector.name|lower}} go2Conn">
         <a  href="{% url 'connection:create' connector_id=connector.id %}">
         {{ connector.name }}
         </a>
         </div>
      </li>
      {% endfor %}
   </ul>
</div>
{% endblock %}