{% extends 'layouts/site_base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <ul class="list-connector">
            {% for connection in object_list %}
                <li style="display: block;">
                    <label>
                        <input type="radio" name="connection" value="{{ connection.id }}"> {{ connection.name }}
                    </label>
                    <button type="button" class="testConnectionButton" connection_id="{{ connection.id }}">TEST
                    </button>
                    <br>
                </li>
            {% empty %}
                There are no connections.
                <a href="javascript:window.open('{% url 'connection:create' connector_id=connector_id %}',
                'New Connection', 'width=972,height=660,modal=yes,alwaysRaised=yes')" style="color:blue;">
                    New Connection</a>
            {% endfor %}
        </ul>
        <button>Use this connection</button>
        <br/>

        <a href="javascript:popUp('{% url 'connection:create' connector_id=connector_id %}')" style="color:blue;">New
            Connection</a>
    </form>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        function popUp(url) {
            var win = window.open(url, 'New Connection', 'width=972,height=660,modal=yes,alwaysRaised=yes');
            var checkConnect = setInterval(function () {
                if (!win || !win.closed) return;
                clearInterval(checkConnect);
                window.location.reload();
            }, 100);
        }

        $('.testConnectionButton').click(function (e) {
            var button = $(this);
            $.ajax({
                method: "POST",
                url: "{% url 'connection:test' connector_id=connector_id %}",
                data: {connection_id: $(button).attr('connection_id')},
            }).done(function (response) {
                if (response.test == true)
                    $(button).css('background-color', 'green');
                else
                    $(button).css('background-color', 'red');

            });
            return false;
        })
    </script>
{% endblock %}