{% extends 'layouts/console_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row connections">
        <form class="form" method="post" action="">
            {% csrf_token %}
            <div class="title">
                <span>{% trans 'Selección de Conexión' %}</span>
            </div>
            <div class="separator"></div>
            <a href="{% url 'connection:create' connector_id=connector_id %}">
                <div class="new-connection">
                    <div class="image2">
                        <img src="{% static 'img/console/g3261.png' %}" width="28" height="28">
                    </div>
                    <div class="text">
                        {% trans 'Crear Conexión' %}
                    </div>
                </div>
            </a>
            {% if object_list %}
                <div class="list">
                    {% for connection in object_list %}
                        <div class="row">
                            <div class="col-md-5 item extended">
                                <div class="image-wrapper">
                                    <div class="button">
                                        <input type="radio" name="connection" value="{{ connection.id }}">
                                    </div>
                                    <div class="name">
                                        {{ connection.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 test-button">
                                <div class="button-wrapper">
                                    <div class="button testConnectionButton"
                                         connection_id="{{ connection.id }}">
                                    </div>
                                    <div class="text2">
                                        Test
                                    </div>
                                </div>
                                <div class="text-wrapper" style="display: none;">
                                    <div class="text-line"></div>
                                    <div class="text">
                                        Ésta conexión <b>funciona</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-5" id="noconnection" style="display: none;">
                        Debes seleccionar una conexión.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <button class="button-create" type="submit">{% trans 'Usar Conexión' %}</button>
                    </div>
                </div>
            {% else %}
                <div class="test-wrapper">
                    <div class="image">
                        <img src="{% static 'img/console/warning.png' %}" width="48" height="48">
                    </div>
                    <div class="text inline">
                        {% trans 'No hay conexiones' %}
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        function popUp(url) {
            var win = window.open(url, 'New Connection', 'width=972,height=660,modal=yes,alwaysRaised=yes');
            var checkConnect = setInterval(function () {
                if (!win || !win.closed) return;
                clearInterval(checkConnect);
                window.location.reload();
            }, 100);
        }

        $(document).on('submit', function (e) {
            if (!$('input[type="radio"]').is(':checked')) {
                e.preventDefault();
                $('#noconnection').show()
            }
        });

        $('.testConnectionButton').click(function (e) {
            var button = $(this);
            $.ajax({
                method: "POST",
                url: "{% url 'connection:test' connector_id=connector_id %}",
                data: {connection_id: $(button).attr('connection_id')},
            }).done(function (response) {
                var wrapper = $(button).closest('.test-button').find('.text-wrapper');
                if (response.test == true) {
                    $(button).addClass('passed');
                    wrapper.show()
                        .find('.text').addClass('passed')
                        .html('Ésta conexión <b>funciona</b>');
                    wrapper.find('.text-line').addClass('passed');
                } else {
                    $(button).addClass('failed');
                    wrapper.show()
                        .find('.text').addClass('failed')
                        .html('Ésta conexión <b>no funciona</b>');
                    wrapper.find('.text-line').addClass('failed');
                }
                setTimeout(function () {
                    $(wrapper).fadeOut()
                }, 2000);
            });
            return false;
        });

        $('.item').on('click', function (e) {
            $(this).find('input').prop('checked', true);
            $('.image-wrapper').removeClass('selected');
            $(this).find('.image-wrapper').addClass('selected');
        });

        $('input[type="radio"]').on('click', function (e) {
            $('.image-wrapper').removeClass('selected');
            $(this).closest('.image-wrapper').addClass('selected');
        });

    </script>
{% endblock %}
