{% extends 'layouts/console_base.html' %}
{% load static i18n %}
{% block content %}
    <div class="context-menu" id="context-menu" style="display: none;">
    </div>
    <div class="row management">
        <div class="title">
            <span>{% trans 'Administrar Conexiones' %}</span>
        </div>
        <div class="row list">
            {% for connections in object_list %}
                {% with connector=connections.0.connector %}
                    {% for connection in connections %}
                        <div class="row">
                            <div class="col-md-7 item extended" data-connection-id="{{ connection.id }}">
                                <div class="image-wrapper">
                                    <div class="image">
                                        <div class="connector">
                                            {% with icon73=connector.icon73 %}
                                                {% if icon73 %}
                                                    <img src="{{ icon73.url }}" width="36" height="36">
                                                {% else %}
                                                    <img src="{% static 'img/console/unknown_plug.png' %}" width="36"
                                                         height="36">
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="name">
                                        {{ connection.related_connection.name }}
                                    </div>
                                    <div class="control">
                                        <a href="javascript:popUp('{% url "connection:update" pk=connection.id %}')">
                                            <div class="edit">
                                                <img src="{% static 'img/console/g3125.png' %}" width="34">
                                            </div>
                                        </a>
                                        <div class="gearlist">
                                            <img src="{% static 'img/console/gear-small.png' %}" width="34">
                                        </div>
                                        <div class="status">
                                            {{ c.is_active|yesno:'Activo,Desactivado' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 test-button">
                                <div class="button-wrapper">
                                    <div class="button testConnectionButton"
                                         connection_id="{{ connection.id }}" connector_id="{{ connection.connector.id }}">
                                    </div>
                                    <div class="text2">
                                        Test
                                    </div>
                                </div>
                                <div class="text-wrapper" style="display: none;">
                                    <div class="text-line"></div>
                                    <div class="text">
                                        Ésta conexión <b>funciona</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript">
        function popUp(url) {
            var win = window.open(url, 'Update Connection', 'width=972,height=660,modal=yes,alwaysRaised=yes');
            var checkConnect = setInterval(function () {
                if (!win || !win.closed) return;
                clearInterval(checkConnect);
                window.location.reload();
            }, 100);
        }

        $('.testConnectionButton').click(function (e) {
            var button = $(this);
            var url = '{% url 'connection:test' connector_id=1 %}';
            $.ajax({
                method: "POST",
                url: url.replace('1', $(button).attr('connector_id')),
                data: {connection_id: $(button).attr('connection_id')}
            }).done(function (response) {
                var wrapper = $(button).closest('.test-button').find('.text-wrapper');
                if (response.test == true) {
                    $(button).addClass('passed');
                    wrapper.show()
                        .find('.text').addClass('passed')
                        .html('Ésta conexión <b>funciona</b>');
                    wrapper.find('.text-line').addClass('passed');
                } else {
                    $(button).addClass('failed');
                    wrapper.show()
                        .find('.text').addClass('failed')
                        .html('Ésta conexión <b>no funciona</b>');
                    wrapper.find('.text-line').addClass('failed');
                }
                setTimeout(function () {
                    $(wrapper).fadeOut()
                }, 2000);
            });
            return false;
        });

        $('.gearlist').on('click', function (e) {
            var connection_id = $(this).closest('.item').data('connection-id');
            $.ajax({
                method: "POST",
                url: '{% url 'connection:get_gears' %}',
                data: {'connection_id': connection_id}
            }).done(function (response) {
                $('#context-menu').html(response.html);

                e.stopPropagation();
                var left = e.pageX - $('.content-body').offset().left;
                var top = e.pageY - $('.content-body').offset().top;

                $('#context-menu').hide();
                $('#context-menu').css({
                    'top': top,
                    'left': left,
                    'position': 'absolute'
                });
                $('#context-menu').show();
            })
        });
    </script>
{% endblock %}
