{% extends 'commons/site_base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block body %}
<div class="box-tool animated fadeInDown">
   <div class="box-title">
      <h2>update connection</h2>
   </div>
</div>
<div>
   {% block body_content %}
   <form id="formUpdateConnection" class="create-connection-form form-horizontal" action="" method="post"
      autocomplete="off">
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <button id="btnUpdateConnection">update connection</button>
      {% if form.error %}
      <div class="error">{{ form.error }}</div>
      {% endif %}
   </form>
   {% endblock %}
</div>
{% endblock %}