.steps_border{ border: 1px solid #B38C5C; }
.add-on-gear .input-group-btn-gear > .btn-gear {
  border-left-width:0;  left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.add-on-gear .form-control-gear:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}
.form-control-gear{width:20%}