.ayuda-gp-index{
    background: url("../img/landing/plantilla.png") no-repeat scroll 50% 20px;
    height: 3880px;
}

.bg_page{ background-color: white; }
.row{ margin: 0}

/* Header */
.logo_header{ margin: 20px 0 0 242px; }