{% extends 'layouts/page_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="col-md-12 apps-banner">
        <div class="text1">
            {% blocktrans %}
                Conéctalo con tus <span style="font-family: 'Sansation Bold'">Aplicaciones Favoritas</span>
            {% endblocktrans %}
        </div>
    </div>
    <div class="col-md-12 apps-list">
        <div class="text2">
            {% trans 'Conécta cualquiera de estas Apps' %}
        </div>
        <div class="search1">
            <input type="text" id="connectorsearch">
{#            <select class="selectpicker" title="Categoría">#}
{#                <option>Opción 1</option>#}
{#                <option>Opción 1</option>#}
{#                <option>Opción 1</option>#}
{#            </select>#}
        </div>
        <div class="list-wrapper grid">
            {% for connector in object_list %}
                <div class="col-md-2 grid-item">
                    <div class="list-item">
                        <div class="image1">
                            <img src="{% if connector.icon73 %}{{ connector.icon73.url }}{% endif %}" width="73"
                                 height="73">
                        </div>
                        <div class="divider"></div>
                        <div class="name1">
                            {{ connector.name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var $container = $('.grid');

            var isotope = function () {

                var qsRegex;

                var $grid = $container.isotope({
                    itemSelector: '.grid-item',

                    filter: function () {
                        return qsRegex ? $(this).text().match(qsRegex) : true;
                    }
                });

                var $quicksearch = $('#connectorsearch').keyup(debounce(function () {
                    qsRegex = new RegExp($quicksearch.val(), 'gi');
                    $grid.isotope();
                }, 200));
            };

            isotope();
        });

        function debounce(fn, threshold) {
            var timeout;
            return function debounced() {
                if (timeout) {
                    clearTimeout(timeout);
                }
                function delayed() {
                    fn();
                    timeout = null;
                }

                timeout = setTimeout(delayed, threshold || 100);
            }
        }
    </script>
{% endblock %}
