{% extends 'layouts/page_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container-fluid sp">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% if request.user.is_authenticated == False %}
                    <div class="item active container-fluid slide-item">
                        <img src="{% static 'img/landing/slide1.png' %}" alt="First slide" class="slide">
                        <div class="carousel-caption slide-caption">
                            {% blocktrans %}
                                Conectándote <br/>
                                <span class="slide-text-light"> en todos </span> <br/>
                                <span class="slide-color-aqua"> lados </span>
                            {% endblocktrans %}
                        </div>
                    </div>
                {% else %}
                    <div class="item active">
                        <img src="{% static 'img/landing/slide2.jpg' %}" alt="First slide" class="slide">
                    </div>
                    {#                    <div class="item">#}
                    {#                        <img src="{% static 'img/landing/slide3.png' %}" alt="Second slide" class="slide-other">#}
                    {#                        <div class="carousel-caption slide-caption-blog">#}
                    {#                            Lo importante del <br /> mantenimiento de tus <span style="font-family: 'Sansation Bold'">Gears</span>#}
                    {#                            <hr>#}
                    {#                            <span class="minus">Lee nuestro Blog</span> <br />#}
                    {#                            <button type="button" class="button-blog">click aquí</button>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% endif %}
            </div>
            {#            <a class="left carousel-control not-bg" href="#carousel-example-generic" data-slide="prev">#}
            {#                <span class="slide-arrow">#}
            {#                    <img src="{% static 'img/landing/arrow_left.png' %}">#}
            {#                </span>#}
            {#            </a>#}
            {#            <a class="right carousel-control not-bg" href="#carousel-example-generic" data-slide="next">#}
            {#                <span class="slide-arrow">#}
            {#                    <img src="{% static 'img/landing/arrow_right.png' %}">#}
            {#                </span>#}
            {#            </a>#}
        </div>
        {% if request.user.is_authenticated == False %}
            <div class="bg-form">
                {% include 'landing/snippets/signup_form.html' %}
            </div>
        {% else %}
            <div class="bg_login text-center">
                <button type="button" class="btn-login">¡Ingresa Ya!</button>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="row not-margin">
            <div class="col-sm-12 col-md-12 text-center index-space1">
                <img src="{% static 'img/landing/logo_what.png' %}" class="logo-what">
            </div>
            <div class="col-sm-12 col-md-12 text-center index-space2">
                <span class="text-what">{% trans '¿Qué es GearPlug?' %}</span>
                <br/>
                <p class="text-p">
                    {% blocktrans %}
                        GearPlug es un software de automatización y optimización de todas las herramientas digitales
                        para que su
                        empresa logre todos los KPI (Indicadores de Rendimiento) dispuestos, los cuales pueden mejorar y
                        hacer
                        efectivos por medio de diferentes soluciones integrales de marketing digital que ofrece nuestro
                        software.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row not-margin">
            <div class="col-sm-12 col-md-12 index-space3">
                <hr class="hr-separator">
            </div>
        </div>
    </div>
    <div class="container create">
        <div class="row not-margin">
            <div class="col-sm-12 col-md-12 text-center index-space4">
                <span class="text-what">{% trans '¡Crea los Gear que quieras!' %}</span> <br/>
                <p class="text-two">{% trans '(2 aplicaciones por gear)' %}</p>
            </div>
            <div class="col-sm-12 col-md-12 index-space5">
                <div class="col-sm-12 col-md-4 text-center">
                    <div class="col-sm-6 col-md-12">
                        <img src="{% static 'img/landing/facebook.png' %}" class="facebook">
                    </div>
                    <div class="col-sm-1 col-md-2 sp">
                        <img src="{% static 'img/landing/bullet1.png' %}" class="height_bullet1">
                    </div>
                    <div class="col-sm-5 col-md-10 text-bullet">{% trans 'Selecciona el Origen' %}</div>
                </div>
                <div class="col-sm-12 col-md-4 text-center border_process">
                    <div class="col-sm-6 col-md-12">
                        <img src="{% static 'img/landing/generator.png' %}" class="generator">
                    </div>
                    <div class="col-sm-1 col-md-2 sp">
                        <img src="{% static 'img/landing/bullet2.png' %}" class="height_bullet2">
                    </div>
                    <div class="col-sm-5 col-md-10 text-bullet1 sp">
                        {% trans 'Selecciona la acción que deseas que realice el Gear.' %}
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <div class="col-sm-6 col-md-12">
                        <img src="{% static 'img/landing/gmail.png' %}" class="gmail">
                    </div>
                    <div class="col-sm-1 col-md-2 sp">
                        <img src="{% static 'img/landing/bullet3.png' %}" class="height_bullet3">
                    </div>
                    <div class="col-sm-5 col-md-10 text-bullet"> {% trans 'Selecciona el destino' %} </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sp">
        <div class="row not-margin">
            <div class="col-sm-12 col-md-12 text-center index-space7 text-connect">
                {% trans 'Top 6 de Aplicaciones más usadas' %}
            </div>
            <div class="col-sm-12 col-md-10 col-md-offset-1 index-space8">
                {% for app in top_apps %}
                    <div class="col-sm-4 col-md-2">
                        <div class="list-item">
                            <div class="image1">
                                <img src="{% if app.icon73 %}{{ app.icon73.url }}{% endif %}" width="73" height="73">
                            </div>
                            <div class="divider"></div>
                            <div class="name1">
                                {{ app.name }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid sp">
        <div class="row not-margin">
            <div class="col-sm-12 col-md-12 bg_comments not-padding">
                <div class="col-sm-12 col-md-12 text-center title-comments">
                    La Experiencia Habla
                    <hr class="hr-comments">
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 not-padding">
                    <span class="testing">
                        <div class="col-sm-6 col-md-4 not-padding ">
                            <div class="list-item1">
                                <div class="col-sm-5 col-md-4 image11 not-padding padding-sm">
                                    <img src="{% static 'img/landing/daniel.png' %}" class="img-comments"
                                         style="margin-bottom: 50%;">
                                </div>
                                <div class="col-sm-7 col-md-8 name11 comment more">
                                    <b>Daniel Ricco</b>
                                    <br/>
                                    Tengo una pyme y desde que me decidí a optimizar todos los procesos de mi empresa en
                                    serio se ven los resultados, solo es cuestión de arriesgarse y apostarle a
                                    tecnología,
                                    en serio, mi consejo para todos los emprendedores, microempresarios es a apostarle
                                    la
                                    tecnología.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 not-padding ">
                            <div class="list-item1">
                                <div class="col-sm-5 col-md-4 image11 not-padding padding-sm">
                                    <img src="{% static 'img/landing/patricia.png' %}" class="img-comments"
                                         style="margin-bottom: 50%;">
                                </div>
                                <div class="col-sm-7 col-md-8 name11 comment more">
                                    <b>Patricia Romero</b>
                                    <br/>
                                    Llevo 6 años con mi empresa y por pensar en ahorrarse un dinero en innovación no
                                    estaba
                                    cumpliendo con las metas y un desorden ni el berraco, muy buen software y un gran
                                    soporte técnico, recomendado.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 not-padding ">
                            <div class="list-item1">
                                <div class="col-sm-5 col-md-4 image11 not-padding padding-sm">
                                    <img src="{% static 'img/landing/lorena.png' %}" class="img-comments"
                                         style="margin-bottom: 50%;">
                                </div>
                                <div class="col-sm-7 col-md-8 name11 comment more">
                                    <b>Lorena Albar</b>
                                    <br/>
                                    Me demoraba mucho ingresando todos los datos de las páginas de redes sociales de mi
                                    empresa, en serio, era absurdo, gearplug lo hace por mí, gracias. Muy bueno,
                                    recomendado.
                                </div>
                            </div>
                        </div>
                    </span>
                    <span class="testing">
                        <div class="col-sm-6 col-md-4 not-padding ">
                            <div class="list-item1">
                                <div class="col-sm-5 col-md-4 image11 not-padding padding-sm">
                                    <img src="{% static 'img/landing/miguel.png' %}" class="img-comments"
                                         style="margin-bottom: 50%;">
                                </div>
                                <div class="col-sm-7 col-md-8 name11 comment more">
                                    <b>Miguel Gaviria</b>
                                    <br/>
                                    De un tiempo para acá, más exactamente 4 meses, mi equipo es inusualmente eficiente,
                                    todo es más ordenado y los reportes llegan como deben ser y al tiempo que debe ser,
                                    pero lo mejor, gracias a ustedes ya no nos quedamos hasta tarde los viernes.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 not-padding ">
                            <div class="list-item1">
                                <div class="col-sm-5 col-md-4 image11 not-padding padding-sm">
                                    <img src="{% static 'img/landing/pablo.png' %}" class="img-comments"
                                         style="margin-bottom: 50%;">
                                </div>
                                <div class="col-sm-7 col-md-8 name11 comment more">
                                    <b>Pablo Gomez</b>
                                    <br/>
                                    Acabé de adquirir el software, les estaré contando cómo me va.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 not-padding ">
                            <div class="list-item1">
                                <div class="col-sm-5 col-md-4 image11 not-padding padding-sm">
                                    <img src="{% static 'img/landing/angela.png' %}" class="img-comments"
                                         style="margin-bottom: 50%;">
                                </div>
                                <div class="col-sm-7 col-md-8 name11 comment more">
                                    <b>Angela McKenzie</b>
                                    <br/>
                                    Gearplug se convirtió en un compañero más del equipo, nos ahorra mucho tiempo
                                    ingresando los datos y pasándolos a una base de datos para las campañas de mailing,
                                    recomendado full.
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super.block }}
    <script type="application/javascript">
        $(document).ready(function () {
            $('form#signup_form').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                console.log(form.serialize())
                $.ajax({
                    method: "POST",
                    url: $(form).attr('action'),
                    data: $(form).serialize(),

                }).done(function (response) {
                    var url = 'http://{{ request.META.HTTP_HOST }}' + response.location;
                    window.location.href = url;
                }).fail(function (response) {
                    $(form).parent().html(response.responseJSON.html);
                });
                return false;
            })

            var showChar = 230;
            var ellipsestext = "...";
            var moretext = "Ver más";
            var lesstext = "Menos";

            $('.more').each(function () {
                var content = $(this).html();
                if (content.length > showChar) {
                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);
                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }
            });
            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        })
    </script>
{% endblock %}
