{% extends 'layouts/page_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="col-md-12 steps-title text-center">
        <div class="title">
            {% trans '¿Cómo Funciona?' %}
        </div>
    </div>
    <div class="col-md-12 steps">
        <div class="col-md-4 step1-title">
            Paso 1
            <hr class="hr-steps" />
        </div>
        <div class="col-md-8 step1-text">
            <div class="border-step1text">
                Debes crear un grupo, asignarle un nombre y proceder a seleccionar uno de los conectores (aplicaciones)
                disponible en GearPlug, por ejemplo Facebook.
            </div>
        </div>
        <div class="col-md-9 step2-text">
           <div class="border-step2text">
               Ahora proporciona la autorización necesaria para conectar esta aplicación con GearPlug. Esta
               autorización varía de acuerdo a la aplicación que se seleccione, en este caso, permitirnos el acceso a
               Facebook para enviar o recibir información relevante.
            </div>
        </div>
        <div class="col-md-3 step2-title">
            Paso 2
            <hr class="hr-steps" />
        </div>
        <div class="col-md-4 step3-title">
            Paso 3
            <hr class="hr-steps" />
        </div>
        <div class="col-md-8 step3-text">
           <div class="border-step3text">
               En el tercer paso, indícanos qué acción realizar desde la aplicación de origen, como registrar la
               información que llega de un nuevo lead, o cada vez que un usuario especiﬁco haga una comentario
               mencionando tu marca.
            </div>
        </div>
        <div class="col-md-12 step4-title">
            Paso 4
            <hr class="hr-steps" />
        </div>
        <div class="col-md-6 step5-title">
            Paso 5
            <hr class="hr-steps" />
        </div>
        <div class="col-md-6 step4-text">
           <div class="border-step4text">
               Repetir el proceso del paso 1 y 2 pero con la aplicación de destino. Es decir, la información que se
               adquiere debe llegar a otra aplicación para automatizar el proceso, por ejemplo escoges Facebook – Hoja
               de Cálculo de Google.
            </div>
        </div>
        <div class="col-md-6 step5-text">
           <div class="border-step5text">
               Indícanos qué información vamos a enviar y de qué forma. En este punto estás a muy cerca de terminar el
               proceso de creación de un Gear, solo debes seleccionar la información que quieres que se automatice y de
               qué manera, estas opciones están ligadas a las aplicaciones que escojas, una vez acabes este paso, el
               Gear estará listo para empezar a optimizar la recepción de datos.
            </div>
        </div>
        <div class="col-md-6 stepfinal">
            <div class="congratulation">
                ¡Felicitaciones!
            </div>
            <div class="border-stepfinal">
                Haz terminado los pasos para un Gear perfecto.
            </div>
        </div>
    </div>
{#    <div class="col-md-8 col-md-offset-2 sp steps-text1">#}
{#        <div class="col-md-1 image text-center">#}
{#            <img src="{% static 'img/landing/step1.png' %}" class="img-step">#}
{#        </div>#}
{#        <div class="col-md-11 text sp">#}
{#            <div class="text1">#}
{#                {% trans 'Selecciona el origen' %}#}
{#            </div>#}
{#            <div class="text2">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis molestie consectetur. Quisque#}
{#                feugiat felis ut nulla gravida auctor. Nulla ac felis dui. Fusce ac risus turpis. Curabitur in auctor#}
{#                sapien, non sollicitudin nisl. Donec id dictum lacus, a porta purus. Nullam sed tristique tellus.#}
{#                Maecenas ligula ipsum, ultrices vitae ultrices vel, convallis sit amet enim. Interdum et malesuada fames#}
{#                ac ante ipsum primis in faucibus. Vivamus sed purus vitae quam pellentesque congue sit amet eget augue.#}
{#                Ut vitae tincidunt orci, eu rhoncus tortor. Praesent ac blandit erat. Suspendisse accumsan mattis#}
{#                imperdiet. Donec egestas faucibus venenatis. Praesent euismod velit eget augue faucibus, id tempus#}
{#                libero pharetra.#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-md-8 col-md-offset-2 sp steps-text2">#}
{#        <div class="col-md-1 image text-center">#}
{#            <img src="{% static 'img/landing/step2.png' %}" class="img-step">#}
{#        </div>#}
{#        <div class="col-md-11 text sp">#}
{#            <div class="text1">#}
{#                {% trans 'Selecciona la acción que deseas que realice el gear' %}#}
{#            </div>#}
{#            <div class="text2">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis molestie consectetur. Quisque#}
{#                feugiat felis ut nulla gravida auctor. Nulla ac felis dui. Fusce ac risus turpis. Curabitur in auctor#}
{#                sapien, non sollicitudin nisl. Donec id dictum lacus, a porta purus. Nullam sed tristique tellus.#}
{#                Maecenas ligula ipsum, ultrices vitae ultrices vel, convallis sit amet enim. Interdum et malesuada fames#}
{#                ac ante ipsum primis in faucibus. Vivamus sed purus vitae quam pellentesque congue sit amet eget augue.#}
{#                Ut vitae tincidunt orci, eu rhoncus tortor. Praesent ac blandit erat. Suspendisse accumsan mattis#}
{#                imperdiet. Donec egestas faucibus venenatis. Praesent euismod velit eget augue faucibus, id tempus#}
{#                libero pharetra.#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-md-8 col-md-offset-2 sp steps-text3">#}
{#        <div class="col-md-1 image text-center">#}
{#            <img src="{% static 'img/landing/step3.png' %}" class="img-step">#}
{#        </div>#}
{#        <div class="col-md-11 text sp">#}
{#            <div class="text1">#}
{#                {% trans 'Selecciona el destino' %}#}
{#            </div>#}
{#            <div class="text2">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis molestie consectetur. Quisque#}
{#                feugiat felis ut nulla gravida auctor. Nulla ac felis dui. Fusce ac risus turpis. Curabitur in auctor#}
{#                sapien, non sollicitudin nisl. Donec id dictum lacus, a porta purus. Nullam sed tristique tellus.#}
{#                Maecenas ligula ipsum, ultrices vitae ultrices vel, convallis sit amet enim. Interdum et malesuada fames#}
{#                ac ante ipsum primis in faucibus. Vivamus sed purus vitae quam pellentesque congue sit amet eget augue.#}
{#                Ut vitae tincidunt orci, eu rhoncus tortor. Praesent ac blandit erat. Suspendisse accumsan mattis#}
{#                imperdiet. Donec egestas faucibus venenatis. Praesent euismod velit eget augue faucibus, id tempus#}
{#                libero pharetra.#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}