{% extends 'layouts/page_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="col-md-12 steps-title text-center">
        <div class="title">
            {% trans '¿Cómo Funciona?' %}
        </div>
        <hr class="hr_steps">
    </div>
    <div class="col-md-8 col-md-offset-2 sp steps-text1">
        <div class="col-md-1 image text-center">
            <img src="{% static 'img/landing/step1.png' %}" class="img-step">
        </div>
        <div class="col-md-11 text sp">
            <div class="text1">
                {% trans 'Selecciona el origen' %}
            </div>
            <div class="text2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis molestie consectetur. Quisque
                feugiat felis ut nulla gravida auctor. Nulla ac felis dui. Fusce ac risus turpis. Curabitur in auctor
                sapien, non sollicitudin nisl. Donec id dictum lacus, a porta purus. Nullam sed tristique tellus.
                Maecenas ligula ipsum, ultrices vitae ultrices vel, convallis sit amet enim. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Vivamus sed purus vitae quam pellentesque congue sit amet eget augue.
                Ut vitae tincidunt orci, eu rhoncus tortor. Praesent ac blandit erat. Suspendisse accumsan mattis
                imperdiet. Donec egestas faucibus venenatis. Praesent euismod velit eget augue faucibus, id tempus
                libero pharetra.
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 sp steps-text2">
        <div class="col-md-1 image text-center">
            <img src="{% static 'img/landing/step2.png' %}" class="img-step">
        </div>
        <div class="col-md-11 text sp">
            <div class="text1">
                {% trans 'Selecciona la acción que deseas que realice el gear' %}
            </div>
            <div class="text2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis molestie consectetur. Quisque
                feugiat felis ut nulla gravida auctor. Nulla ac felis dui. Fusce ac risus turpis. Curabitur in auctor
                sapien, non sollicitudin nisl. Donec id dictum lacus, a porta purus. Nullam sed tristique tellus.
                Maecenas ligula ipsum, ultrices vitae ultrices vel, convallis sit amet enim. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Vivamus sed purus vitae quam pellentesque congue sit amet eget augue.
                Ut vitae tincidunt orci, eu rhoncus tortor. Praesent ac blandit erat. Suspendisse accumsan mattis
                imperdiet. Donec egestas faucibus venenatis. Praesent euismod velit eget augue faucibus, id tempus
                libero pharetra.
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 sp steps-text3">
        <div class="col-md-1 image text-center">
            <img src="{% static 'img/landing/step3.png' %}" class="img-step">
        </div>
        <div class="col-md-11 text sp">
            <div class="text1">
                {% trans 'Selecciona el destino' %}
            </div>
            <div class="text2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis molestie consectetur. Quisque
                feugiat felis ut nulla gravida auctor. Nulla ac felis dui. Fusce ac risus turpis. Curabitur in auctor
                sapien, non sollicitudin nisl. Donec id dictum lacus, a porta purus. Nullam sed tristique tellus.
                Maecenas ligula ipsum, ultrices vitae ultrices vel, convallis sit amet enim. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Vivamus sed purus vitae quam pellentesque congue sit amet eget augue.
                Ut vitae tincidunt orci, eu rhoncus tortor. Praesent ac blandit erat. Suspendisse accumsan mattis
                imperdiet. Donec egestas faucibus venenatis. Praesent euismod velit eget augue faucibus, id tempus
                libero pharetra.
            </div>
        </div>
    </div>
{% endblock %}