{% extends 'layouts/page_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container-fluid sp">
        <div class="row not-margin">
            <div class="col-md-12 steps-title text-center">
                <div class="title">
                    {% trans '¿Cómo Funciona?' %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sp">
        <div class="row not-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <img src="{% static 'img/landing/psteps.png' %}" class="steps-img hidden-xs">
                <img src="{% static 'img/landing/steps_mb.png' %}" class="steps-img visible-xs">
            </div>
        </div>
    </div>
{% endblock %}