{% extends 'layouts/page_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="col-md-12 terms-title text-center">
        <div class="title">
            {% trans 'Términos y Condiciones' %}
        </div>
        <hr class="hr_terms">
    </div>
    <div class="col-md-8 col-md-offset-2 terms-text">
        {% blocktrans %}
            La participación en los foros, chats, comentarios y otros espacios similares de participación dentro del Sitio Web (en adelante "los Espacios")
            implican la aceptación y conocimiento por parte del usuario de estas Condiciones de Uso, así como el compromiso irrevocable de cada usuario de
            respetar dichas condiciones, siendo entendido y aceptado que eximen a <b>GEARPLUG</b> y mantendrán indemne a <b>GEARPLUG</b> de cualquier
            responsabilidad que se derive del incumplimiento a tal compromiso, lo cual incluye daños y perjuicios causados a otros usuarios y/o cualquier
            tercero afectado. Si un usuario no está conforme o de acuerdo con los presentes Términos y Condiciones de la Página Web, se le  sugiere no
            participar en él y/o en los Espacios.
            <br /><br />
            Cada usuario acepta y faculta expresa e irrevocablemente a <b>GEARPLUG</b> para revisar los comentarios u opiniones vertidos en los Espacios y/o
            suprimir los que no se adecuen a las normas de convivencia plasmadas en las Condiciones de Uso del Sitio Web, así como a interrumpir la
            comunicación en caso de que lo considere conveniente por tales motivos. De igual forma, <b>GEARPLUG</b> se reserva el derecho de ejercer tal
            facultad cuando así lo estime conveniente, a su discreción, sin que por tal razón sea factible imputar responsabilidad alguna a <b>GEARPLUG</b> por
            el no ejercicio de la facultad o por la existencia, ingreso y participación de usuarios no deseables, como de comentarios u opiniones que no
            atienden estas recomendaciones.
            <br /><br />
            Teniendo en cuenta que los comentarios y opiniones vertidas en los foros, comentarios y Blogs no se derivaran de <b>GEARPLUG</b> sino de terceros
            absolutamente ajenos, <b>GEARPLUG</b> no se responsabiliza por el tono de los mismos, así como tampoco presta conformidad ni discrepa con ellos,
            siendo entendido que emanan exclusivamente de su autor, y quedan bajo su completa responsabilidad.
            <br /><br />
            Por tal motivo, la persona que ingrese a la plataforma para hacer uso del servicio debe ser mayor de edad y poseer identificación, expedida en su
            país de origen.
            <br /><br />
            Asimismo, queda absolutamente prohibido ingresar comentarios, mensajes, opiniones, información, o similares, de contenido difamatorio, abusivo,
            contrario a la moral y las buenas costumbres, violatorio de derechos de terceros de cualquier índole, incluidos los derechos de los menores de
            edad, que causen daños y/o perjuicios, impidan o limiten el derecho propio o ajeno a usar los espacios y demás. Tampoco está permitido publicitar
            productos y/o servicios de cualquier tipo dentro de "los espacios", ni utilizar o enviar virus, o desviarse de los temas propuestos en los foros.
            <br /><br />
            Ahora bien, en el supuesto de que este tipo de comentarios, mensajes, opiniones, información, o similares, ingrese en "los espacios", los usuarios,
            aceptan en forma expresa e incondicionada que <b>GEARPLUG</b>, sus empleados, proveedores, o anunciantes, NO serán responsables en modo alguno por
            las consecuencias de cualquier tipo y alcance que los mismos pudieran generar, frente a cualquier tercero, ya sea en virtud de su inclusión dentro
            de "los espacios" o por cualquier causa relacionada directa o indirectamente con el uso de los mismos.
            <br /><br />
            <b>GEARPLUG</b>, sus empleados, proveedores o anunciantes, NO serán responsables de modo alguno en el supuesto que los comentarios, información,
            mensajes, opiniones, o similares, se vean afectados, eliminados, alterados, o modificados de alguna manera.
            <br /><br />
            Los Usuarios se abstendrán de iniciar cualquier acción o reclamación contra <b>GEARPLUG</b> relacionada con, o derivada de, la información,
            contenido, opinión o comentario proveniente de otro Usuario y/o de un tercero ajeno a <b>GEARPLUG</b>, siendo aceptado por los usuarios, que tales
            acciones o reclamaciones solo podrán ser iniciadas contra su directo responsable, para lo cual deberán promover las acciones legales pertinentes,
            bajo los procedimientos legalmente establecidos para el efecto. <b>GEARPLUG</b> podrá abstenerse de suministrar la información disponible sobre el
            presunto infractor cuando a su juicio tal información esté protegida por la confidencialidad ofrecida a los usuarios, en cuyo caso, el suministro
            estará condicionado a la solicitud de autoridad competente.
            <br /><br />
            <b>GEARPLUG</b> se reserva el derecho de excluir de los Espacios, a aquellos usuarios que no se atengan a las presentes reglas o que no respeten
            los principios básicos de sana convivencia, así como también de interrumpir, eliminar y/o excluir, total o parcialmente, en todos los casos, todo
            aquel mensaje, opinión, información o similares que no se adecuen o resulten violatorios de las reglas y principios antes indicados.
            <br /><br />
            Cada Usuario deberá denunciar cualquier violación a las Condiciones de Uso del Sitio Web por parte de otros Usuarios, de las que tenga
            conocimiento, para lo cual remitirá un correo electrónico a <b><u>info@grplug.com</u></b> a fin de que <b>GEARPLUG</b> tome las medidas que estén
            a su alcance con respecto al Sitio Web.
            <br /><br />
            <span class="terms-subtitle">Prácticas cuestionables ("uso inapropiado")</span>
            <br /><br />
            <b>GEARPLUG</b> puede terminar la cuenta del Cliente si el Cliente se involucra en cualquier práctica que sea, a juicio de <b>GEARPLUG</b>,
            objetable, ilegal, obscena, pornográfica, amenazante, abusiva, difamatoria, odiosa, o que aliente conductas que constituyan un delito, o de otra
            manera viole cualquier ley local, estatal, nacional o internacional. Esto incluye, pero no se limita a:
            <br /><br />
            • Contenido que de alguna manera explote a los menores de 18 años de edad.
            <br />
            • Virus, gusanos, phishing, malware o cualquier otro software potencialmente dañino.
            <br />
            • Comercialización a cualquier lista de asociaciones, afiliaciones, votantes o corredores de bienes raíces, o cualquier otra lista cuyos
            destinatarios no expresaron consentimiento explícito para recibir dicho material de marketing.
            <br />
            • Productos, servicios o contenidos que a menudo se asocian con prácticas comerciales abusivas o spam, como por ejemplo:
            <br />
            - Pornografía o productos sexuales ilícitamente pornográficos, incluyendo pero no limitado a revistas para adultos, video, software, servicios de
            acompañantes y servicios de citas o promociones de "swinger" para adultos.
            <br />
            - Drogas ilegales, software, medios u otros.
            <br /><br />
        {% endblocktrans %}
    </div>
{% endblock %}